body {
	font-family: Helvetica Neue, Helvetica, Arial, san-serif;
}
.float_left {
	float: left;
	margin: 0px 20px 10px 0px;
}
.float_right {
	float: right;
	margin: 0px 0px 10px 20px;
}
.image_center {
	display: block;
	margin: 10px auto;
}
img {
	display: block;
	margin: 10px auto;
}
.big_headline {
	color: #00a7a0;
	letter-spacing: .05em;
}
.medium_headline {
	letter-spacing: .05em;
}