/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

body {
	background: #004c4c;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
}

.hidden {
	display: none;
}

.edit-this {
	color: #cc0000;
	font-size: 11px;
}

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* Forms */
fieldset {
	background: #f9f9f9;
  padding: 20px 15px;
  margin-bottom: 30px;
}
fieldset legend {
  font-size: 22px;
}
select { 
  font-size: 13px;
  font-family: Helvetica, Arial, san-serif;
  padding: 5px;
}
label {
/*   color: #333; */
} 
label.require {
  font-weight: bold;
  color: #000;
}
label.error {
	margin-top: -8px;
	margin-bottom: 10px;
}
label.field_return  {
  padding-top: 24px;
}
label.field_return {
	display: none;
}
label.field_return.available {
	display: block;
	color: green;
}
label.field_return.unavailable {
	display: block;
	color: red;
}
.form_submit {
  text-align: center;
}
.date_input input {
  display: inline;
  width: auto;
}
.label_checkbox {
  padding-left: 20px;
  margin-bottom: 20px;
}
.label_checkbox input {
  margin-left: -20px;
}
input.submit:hover {
	cursor: pointer;
}


/* -----------------------------------------
   Utility Nav
----------------------------------------- */
.top-bar,
.top-bar ul,
.top-bar ul > li a:not(.button)  {
	height: 36px;
	line-height: 36px;
	margin-bottom: 0px;
}
.top-bar {
	margin-bottom: 0px;
}
.top-bar ul > li:hover, .top-bar ul > li.active {
	background: transparent;
}
.top-bar ul > li.has-dropdown .dropdown li {
	background: #ccc;
}
.top-bar ul > li.has-dropdown .dropdown li a:hover {
	background: #aaa;
}
.top-bar ul > li.has-dropdown .dropdown li a {
	color: #000;
}
#utility-search {
	width: 260px;
	padding: 4px 0px 0px 20px;
}
#utility-search form {
	margin: 0px;
	padding: 0px;
}
#utility-search input {
	float: left;
	margin: 0px;
}
#utility-search input#keywords {
	width: 200px;
	padding: 3px 5px;
	height: 28px;
}
#utility-search input.submit {
	height: 28px;
	padding: 3px 6px;
}
#utility-nav .right {
	margin-right: 10px;
}
#utility-nav .dropdown {
	top: 36px;
	background: #ccc;
}
#utility-nav #nav-bar-login {
	padding: 10px;
	background: #ccc;
}
#utility-nav #nav-bar-login form {
	margin: 0px;
}
#utility-nav #nav-bar-login label {
  color: #333;
  font-size: 12px;
  font-weight: bold;
  padding-left: 0px;
  margin-bottom: 3px;
  text-transform: none;
}
#utility-nav #nav-bar-login input[type=text] {
	width: 200px;
}



/* -----------------------------------------
   Header
----------------------------------------- */
#header {
	background: #e9d9b9;
	width: 100%;
	margin-top: 0px;
}
#header #how-to-graphic {
	position: relative;
	width: 100%;
	height: 140px;
}
#logo {
	margin: 0px;
	width: 200px;
	position: absolute;
	left: 0px;
	top: 40px;
}
#header #get-pass {
	position: absolute;
	top: 30px;
	right: 10px;
	text-align: center;
}
#header #get-info {
	position: absolute;
	top: 80px;
	right: 10px;
	text-align: center;
}
#header #get-info a,
#header #get-pass a {
	width: 100px;
}



/* -----------------------------------------
   Top Bar
----------------------------------------- */
#main-nav {
	background: transparent;
	margin-top: 0px;
	margin-bottom: 0px;
}
#main-nav .flyout ul {
	margin: 0px;
}
#main-nav .flyout li {
	border: none;
}
#main-nav .flyout li a {
	padding: 3px 0px;
}
#main-nav > li > a:first-child {
	padding: 0px 15px 0px 0px;
	margin-right: 15px;
	text-transform: uppercase;
}
#main-nav > li.has-flyout > a:first-child {
	padding-right: 40px;
}
#main-nav > li {
	box-shadow: none;
	background: transparent;
	border: none;
}
#main-nav > li > a {
	background: transparent;
	border: none;
}


/* breadcrumb */
#nav-breadcrumb {
	width: 100%;
	background: #fff;
	padding-bottom: 10px;	
}
ul.breadcrumbs {
	font-size: 11px;
	padding: 0px;
	margin-bottom: 0px;
	background: none;
	border: none;
}
ul.breadcrumbs li a,
ul.breadcrumbs li.current a {
	color: #aaa;
}




/* -----------------------------------------
   Main Content
----------------------------------------- */
#main-content {
	background: #fff;
	position: relative;
	padding-bottom: 30px;
}
#main-content .edit-this {
	position: absolute;
	top: -10px;
	right: 10px;
}


/* -----------------------------------------
   Blog Entries
----------------------------------------- */
.entry {
	line-height: 1.5em;
/* 	border-bottom: 1px solid #ccc; */
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.entry-date {
	font-size: 12px;
	margin-bottom: 3px;
	text-transform: uppercase;
}



/* -----------------------------------------
   Home
----------------------------------------- */
.home #main-featured {
	margin-top: 20px;
}
.home .entry {
	padding: 10px 0px;
	margin: 0px;
}
.home .entry h4 {
	margin-bottom: 0px
}



/* -----------------------------------------
   Calendar
----------------------------------------- */
.calendar .header {
	position: relative;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	padding: 10px 0px;
}
.calendar .header .left {
	position: absolute;
	left: 0px;
	top: 15px;
	line-height: 15px;
}
.calendar .header .right {
	position: absolute;
	right: 0px;
	top: 15px;
	line-height: 15px;
}
.calendar .header .center {
	text-align: center;
}
.calendar .header .center h4 {
	margin: 0px;
}
.calendar .event-count {
	font-weight: normal;
	font-size: 14px;
}
.calendar .entry {
	padding: 10px 0px;
	border-top: 1px solid #ccc;
}
.calendar .entry .calendaar-meta {
	margin-bottom: 3px;
}

/* upcoming */
.calendar.upcoming .entry img {
	float: left;
	margin-right: 20px;
}
.calendar.upcoming .entry .event-name {
	margin-bottom: 3px;
}
.calendar.upcoming .entry .event-venue {
	font-weight: bold;
	margin-bottom: 3px;
}

/* monthly */
.calendar.month #calendar_table td {
	width: 15%;
	padding: 0px;
}
.calendar.month #calendar_table th.day_of_week {
	text-align: center;
	font-size: 14px;
}
.calendar.month #calendar_table .event {
	font-size: 11px;
	line-height: 1.1em;
	padding: 2px 5px;
}
.calendar.month #calendar_table .day_cell .date {
	background: #ccc;
	font-weight: bold;
	font-size: 13px;
	padding: 1px 3px;
}
/* weekly */
.calendar.week .event-list li {
	list-style: none;
}
.calendar.week .event-list .event-time {
	display: block;
	float: left;
	width: 60px;
	margin-right: 10px;
	font-weight: bold;
}
.calendar.week .event-list .event-venue {
	color: #666;
	font-size: 12px;
}
/* daily */
.calendar.day .entry {
	border: none;
	padding-top: 0px;
}
.calendar.day .event-name {
	margin-bottom: 5px;
}
.calendar.day .event-info {
	margin-bottom: 3px;
}
.calendar.day .event-summary p {
	font-size: 13px;
}

/* -----------------------------------------
   Event
----------------------------------------- */
.event #page-header {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.event #event-genre {
	margin-bottom: 3px;
}
.event #page-name {
	margin-bottom: 5px;
}
.event #event-date {
	padding-top: 10px;
}
.event .ticket-available {
	font-weight: normal;
	font-style: italic;
	font-size: 15px;
}
.event #sidebar {
	padding-top: 20px;
}
.event #sidebar h5 {
	border-top: 1px solid #ccc;
	padding-top: 10px;
	margin-bottom: 10px;
}
.event .social-buttons {
	padding: 10px 0px;
	border-top: 1px solid #ccc;
}
.event .social-buttons a {
	display: inline-block !important;
	vertical-align: bottom;
}
.event .social-buttons .addthis_button_facebook_like {
	width: 47px;
	height: 65px;
}
.event .social-buttons .addthis_button_tweet {
	width: 55px;
	height: 65px;
}
.event .social-buttons .addthis_button_google_plusone {
	width: 50px;
	height: 65px;
	padding-top: 1px;
}
.event .social-buttons .addthis_counter {
	width: 50px;
	height: 65px;
}
.event #event-upcoming li {
	list-style: none;
	font-size: 13px;
	margin: 0px;
}
.event #event-upcoming .view-more {
	color: #2BA6CB;
}
.event #event-upcoming .view-more:hover {
	cursor: pointer;
	color: #2795B6;
}



/* -----------------------------------------
   Orgs
----------------------------------------- */
#org-grid {
	margin: 10px -10px;
}
#org-grid > li { 
	padding: 0 10px 10px; 
}
#org-grid .org-logo {
	height: 170px;
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	text-align: center;
	display: table;
}
#org-grid .org-logo a {
	height: 150px;
	display: table-cell;	
	vertical-align: middle;
}
#org-grid .org-logo img {	
	max-height: 150px;
}
#org-grid .org-name {
	text-align: center;
	font-size: 14px;
	margin-bottom: 20px;
}
#org-grid .org-name a {
	color: #000;
}
.orgs.single #org-logo {
	margin-bottom: 10px;z
}
.orgs.single #org-contact p {
	margin-bottom: 0px;
}



/* -----------------------------------------
   Locations
----------------------------------------- */
.locations .row.header {
	background:  #000;
	
	margin-bottom: 10px;
}
.locations .row.header p {
	margin: 0px;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
}
.locations .row.location {
}
.locations .location-name {
	margin-bottom: 3px;
}
.locations .location-website,
.locations .location-address {
	margin-bottom: 3px;
}


/* -----------------------------------------
   Blog
----------------------------------------- */
.blog #sidebar {
	padding-top: 50px;
}
.blog #blog-terms p {
	font-size: 13px;
	line-height: 1.3em;
}



/* -----------------------------------------
   Application
----------------------------------------- */
.application form p {
	font-size: 14px;
	color: #4D4D4D;
	font-weight: 500;
}
.application select {
  width: auto;
  margin-bottom: 12px;
}
.application .terms {
  background: #f6f6f6;
  padding: 10px 20px;
  margin: 10px 0px;
}
.application .terms p {
  font-size: 12px;
  margin-bottom: .75em;
}
.application #accept_terms {
  margin-bottom: 10px;
}
.application .app_interests_list {
  margin: 20px 0px;
}
.application .app_interests_list p,
.application .app_member_type_list p {
  margin-bottom: 5px;
}
.application .app_interests_list label {
  float: left;
  width: 180px;
  margin-right: 10px;
}
.application .app_member_type_list {
	margin: 20px 0px;
}
.application .app_member_type_list label {
  padding-left: 20px;
  line-height: 1.3em;
  margin-bottom: 8px;
}
.application .app_member_type_list input {
  margin-left: -20px;
}
.application p.require {
	text-align: right;
}
#account_terms label.error {
	clear: both;
	padding: 10px 23px;
}





/* -----------------------------------------
   Account
----------------------------------------- */
.account .section {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
.account .row.header {
	background: #000;
	color: #fff;
	margin-bottom: 10px;
}
.account .row.header .columns {
	padding: 5px 10px;
	font-weight: bold;
}
.account .no_info {
	font-style: italic;
	color: #999;
}
.account #member_comments .comment .posted {
	margin: 0px;
	font-size: 12px;
	font-style: italic;
}
.account .edit-profile {
	float: right;
}
.account p.require {
	text-align: right;
}
.account.home #member_profile .row {
	background: #f6f6f6;
	padding: 20px 10px;
}
.account .total-count {
	font-weight: bold;
}
.account .event-name {
	margin-bottom: 5px;
}
.account .paginate {
	margin-top: 40px;
	padding: 10px 0px;
	border-top: 1px solid #ddd;
}
.account.edit label.field_return,
.account.settings label.field_return  {
  padding-top: 10px;
}
.account.edit .label_birthdate_error {
	color: #cc0000;
}
.account .event-name {
	margin-bottom: 0px;
}
.account .event-dates {
	font-weight: bold;
	margin-bottom: 0px;
}
.account .event-over {
	font-weight: normal;
}
.account .event-saved {
	font-size: 12px;
}


/* -----------------------------------------
   Footer
----------------------------------------- */
#footer {
	background: #000;
	color: #fff;
	width: 100%;
	padding: 40px 0px;
}
#footer .footer-header {
	color: #fff;
	border-bottom: 1px solid #ccc;
	line-height: 1em;
	padding-bottom: 5px;
}
#footer li {
	list-style: none;
}
#footer li.spacer {
	height: 20px;
}




/* -----------------------------------------
   Credits
----------------------------------------- */
#credits {
	background: #004c4c;
	width: 100%;
	padding: 20px 0px;
}
