/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
	min-width: 1020px;
	background: #1E7577;
	color: #4D4D4D;
  font-family: "museo-sans",sans-serif;
}

/* typography */
p, ul, ol, li,
.button, input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], textarea {
	font-family: "museo-sans", Helvetica, Arial, san-serif;
}

h1 {
  font-family: DharmaGothicM-Bold, sans-serif;
  color: #4D4D4D;
  font-weight: normal;
  font-style: normal;
}
h2, h3, h4, h5, h6 {
  font-family: "museo-sans",sans-serif;
  color: #4D4D4D;
}
h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
}
p {
	font-size: 14px;
}
p.smaller { font-size: 12px; }
a,
a:visited {
	color: #8FC73E;
}
a:hover {
	color: #86B239;
}
.button {
	background: #8FC73E;
	border-color: #86B239;
	color: #fff !important;
}
.button:hover {
	background: #86B239;
}
.sans {
  font-family: "museo-sans",sans-serif;
}
.slab {
  font-family: "quatro-slab",serif;
}
.condensed {
  font-family: DharmaGothicM-Bold,sans-serif;
  font-weight: normal;
  font-style: normal;
}
.hidden {
	display: none;
}


.edit-this,
.edit-this:visited {
	color: #cc0000;
	font-size: 11px;
}


/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* header styles */
#page-name {
	color: #487578;
	font-size: 60px;
}
.section-head {
	color: #487578;
	border-bottom: 1px solid #87AEB0;
	padding-bottom: 5px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-size: 18px;
	letter-spacing: .05em;
}
.page-description p {
	font-size: 18px;
}




/* Forms */
fieldset {
	background: #fff;
	border: none;
  padding: 0px 0px 20px 0px;
  margin-top: 5px;
  margin-bottom: 30px;
}
fieldset legend {
  
  color: #487578;
	border-bottom: 1px solid #87AEB0;
	padding: 0px;
	padding-bottom: 5px;
	margin: 0px;
	margin-bottom: 15px;
	text-transform: uppercase;
	font-size: 20px;
	width: 100%;
}
select { 
  font-size: 13px;
  font-family: Helvetica, Arial, san-serif;
  padding: 5px;
}
label {
/*   color: #333; */
} 
label.require {
  font-weight: bold;
  color: #000;
}
label.error {
	margin-top: -8px;
	margin-bottom: 10px;
}
label.field_return  {
  padding-top: 24px;
}
label.field_return {
	display: none;
}
label.field_return.available {
	display: block;
	color: green;
}
label.field_return.unavailable {
	display: block;
	color: red;
}
.form_submit {
  text-align: center;
}
.date_input input {
  display: inline;
  width: auto;
}
.label_checkbox {
  padding-left: 20px;
  margin-bottom: 20px;
}
.label_checkbox input {
  margin-left: -20px;
}
input.submit:hover {
	cursor: pointer;
}
.notice-required {
	float: right;
	color: #000;
	text-transform: none;
	letter-spacing: 0em;
	font-size: 14px;
	margin-top: 6px;
}


/* social icons */
.social-icons a {
	opacity: .8;
	margin-right: 5px;
}
.social-icons a:hover {
	opacity: 1;
}


/* -----------------------------------------
   Utility Nav
----------------------------------------- */
#utility-nav {
	background: #000;
}
.top-bar {
	margin-bottom: 0px;
	background: #000;
	color: #ccc;
}
.top-bar,
.top-bar ul,
.top-bar ul > li a:not(.button)  {
	height: 36px;
	line-height: 36px;
	margin-bottom: 0px;
}
.top-bar ul > li a:not(.button) {
	display: inline;
}
.top-bar.contain-to-grid:before, 
.top-bar.contain-to-grid:after {
	background: none;
	height: 36px;
	width: auto;
}
.top-bar ul > li:hover, .top-bar ul > li.active {
	background: transparent;
}
.top-bar ul > li.has-dropdown .dropdown li {
	background: #000;
}
.top-bar ul > li.has-dropdown .dropdown li a:hover {
	color: #ccc;
	background: #000;
}
.top-bar ul > li.has-dropdown .dropdown li a {
	color: #fff;
}
#join-mailing-list {
	font-size: 13px;
	padding-left: 10px;
}
#join-mailing-list a {
	padding-left: 3px;
}
#utility-search {
	width: 220px;
}
#utility-search form {
	margin: 0px;
	padding: 0px;
	position: relative;
	width: 200px;
	height: 36px;
}
#utility-search input {
	margin: 0px;
}
#utility-search input#keywords {
	width: 200px;
	padding: 3px 5px;
	padding-left: 24px;
	height: 24px;
	border: none;
	border-radius: 10px;
	position: absolute;
	top: 5px;
	left: 0px;
	color: #949494;
	background: #fff url(images/site/search-icon.png) no-repeat 6px center;
	font-size: 13px;
}
#utility-search input.submit {
	height: 20px;
	width: 20px
	padding: 0px;
	position: absolute;
	top: 7px;
	right: 5px;
	background: none;
	border: none;
	background: transparent url(images/site/arrow-r-gray.png) no-repeat center center;
	opacity: .5;
}
#utility-nav .dropdown {
	top: 36px;
	background: #000;
	padding-bottom: 5px;
}
#utility-nav #nav-bar-login {
	padding: 10px 20px;
	background: #000;
}
#utility-nav #nav-bar-login form {
	margin: 0px;
}
#utility-nav #nav-bar-login label {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding-left: 0px;
  margin-bottom: 3px;
  text-transform: none;
}
#utility-nav #nav-bar-login input[type=text] {
	width: 200px;
}
#utility-nav ul > li.has-dropdown .dropdown li a {
	padding-left: 20px;
	line-height: 1.3em;
}
#utility-nav #util-new-account {
	padding-top: 5px;
	padding-bottom: 5px;
	height: 30px;
	font-weight: bold;
}
#utility-nav #util-password {
	padding-bottom: 8px;
	height: 30px;
}



/* -----------------------------------------
   Header
----------------------------------------- */
#header {
	background: #79CAC9 url(images/site/blue-texture.png) repeat center center;
	width: 100%;
	margin-top: 0px;
}
#header #how-to-graphic {
	background: url(images/site/how-to.png) no-repeat center center;
	position: relative;
	width: 100%;
	height: 140px;
}
#logo {
	margin: 0px;
	width: 200px;
	position: absolute;
	left: 0px;
	top: 30px;
}
#header #get-pass {
	position: absolute;
	top: 25px;
	right: 0px;
	text-align: center;
}
#header #get-info {
	position: absolute;
	top: 80px;
	right: 0px;
	text-align: center;
}
#header #get-info a,
#header #get-pass a {
	display: block;
	width: 135px;
/* 	color: transparent; */
	font-size: 0px;
}
#header #get-info a {
	height: 38px;
	background: url(images/site/button-learn.png) no-repeat left top;
}
#header #get-info a:hover {
	background-position: right top;
}
#header #get-pass a {
	height: 46px;
	background: url(images/site/button-signup.png) no-repeat left top;
}
#header #get-pass a:hover {
	background-position: right top;
}


/* -----------------------------------------
   Top Bar
----------------------------------------- */
#top-nav {
	background: url(images/site/trans-texture.png) 0px -30px;
}
#main-nav {
	background: transparent;
	margin-top: 0px;
	margin-bottom: 0px;
	height: 48px;
	position: relative;
}
#main-nav > li {	
	line-height: 24px;
	padding: 12px 0px;
	box-shadow: none;
	background: transparent;
	border: none;
}
#main-nav > li > a {
	background: transparent;
	border: none;
}
#main-nav > li.active > a {
	cursor: pointer;
}
#main-nav > li > a:first-child {
	padding: 0px 15px 0px 0px;
	margin-right: 15px;
	font-family: "quatro-slab",serif;
	font-size: 18px;
	letter-spacing: .03em;
	text-transform: capitalize;
	border-right: 2px dotted #9BBCBD;
}
#main-nav > li.last a {
	border-right: none;
}
#main-nav .flyout {
	top: 45px;
	background: #1E7577;
	border: none;
	color: #fff;
	left: -20px;
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2)
}
#main-nav .flyout ul {
	margin: 0px;
}
#main-nav .flyout li {
	border: none;
}
#main-nav .flyout li a {
	padding: 4px 0px;
	background: none;
	color: #E6E6E6;
	border: none;
	box-shadow: none;
	font-size: 16px;
	line-height: 1.2em;
}
#main-nav .flyout li a:hover {
	color: #fff;
}
#main-nav > li.has-flyout > a:first-child:after {
	top: 10px;
	right: 15px;
}
#main-nav > li.has-flyout > a:first-child {
	padding-right: 30px;
}
#main-nav .flyout h4 {
	font-weight: 400;
	color: #fff;	
	font-size: 22px;
}
#main-nav #get-lost-pass {
	width: 135px;
	position: absolute;
	right: 0px;
	top: 10px;
	padding: 0px;
}
#main-nav #get-lost-pass a {
	display: block;
	width: 135px;
	height: 30px;
	color: transparent;
	font-size: 0px;
	background: url(images/site/button-lost.png) no-repeat left top;
}
#main-nav #get-lost-pass a:hover {
	background-position: right top;
}



/* breadcrumb */
#nav-breadcrumb {
	width: 100%;
	background: #f6f8f5;
	padding-top: 5px;
	padding-bottom: 5px;	
}
ul.breadcrumbs {
	font-size: 11px;
	padding: 0px;
	margin-bottom: 0px;
	background: none;
	border: none;
}
ul.breadcrumbs li a,
ul.breadcrumbs li.current a {
	color: #aaa;
}




/* -----------------------------------------
   Main Content
----------------------------------------- */
#main-content {
	background: #fff;
	position: relative;
	padding-bottom: 30px;
	padding-top: 10px;
}
#main-content .edit-this {
	position: absolute;
	top: -10px;
	right: 10px;
}
#main-content li {
	list-style-position: outside;
	margin: 5px 15px;
}


/* social */
.social-buttons {
	padding: 10px 0px;
	border-top: 1px solid #ccc;
}
.social-buttons a {
	display: inline-block !important;
	vertical-align: bottom;
}
.social-buttons .addthis_button_facebook_like {
	width: 54px;
	height: 65px;
}
.social-buttons .addthis_button_tweet {
	width: 62px;
	height: 65px;
}
.social-buttons .addthis_button_google_plusone {
	width: 57px;
	height: 65px;
	padding-top: 1px;
}
.social-buttons .addthis_counter {

}
.social-buttons .addthis_button_facebook_send {
	width: 60px;
}
.social-buttons .addthis_button_pinterest_pinit {
	top: 0px;
}
.social-buttons .addthis_counter.addthis_pill_style {
	width: 100px;
}




/* -----------------------------------------
    Entries
----------------------------------------- */
.entry {
	line-height: 1.5em;
/* 	border-bottom: 1px solid #ccc; */
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.entry h3,
.entry h4,
.entry h5,
.entry h6 {
  font-family: "museo-sans",sans-serif;	
}
.entry ul,
.entry ol {
	margin-left: 30px;
}
.entry li {
	list-style-position: outside;
}
.entry-date {
	font-size: 12px;
	margin-bottom: 0px;
	text-transform: uppercase;
	color: #999;
}
.entry-category {
	font-size: 15px;
	letter-spacing: .07em;
  font-family: DharmaGothicM-Bold,sans-serif;
  font-weight: normal;
  text-transform: uppercase;
	background: #8FC73E;
	color: #fff;
	border-radius: 5px;
	margin: 10px 5px 10px 0px;
	padding: 2px 5px 4px 5px;
	display: block;
	float: left;
}
.entry-category:visited {
	color: #fff;
	background: #8FC73E;
}
.entry-category:hover {
	color: #fff;
	background: #86B239;
}
.entry-category.pick {
	background: #1E7577 url(images/site/pick-star.png) no-repeat 3px 5px;
	padding-left: 15px;
}
.entry-category.pick:hover,
.entry-category.weird-of-the-week:hover {
	background-color: #004C4C;
}
.entry-category.weird-of-the-week {
	background: #1E7577;
}



/* -----------------------------------------
    Reviews
----------------------------------------- */
#reviews {
  border-top: 2px dotted #9BBCBD;
  padding-top: 5px;
  margin-top: 40px;
}
#reviews h3 {
	color: #487578;
}



/* -----------------------------------------
    Comments
----------------------------------------- */
#comments {
	border-top: 2px dotted #9BBCBD;
	padding-top: 5px;
	margin-top: 40px;
}
#comments h3 {
	color: #487578;
}
.comment-count {
	font-size: 20px;
}
.comment-entry {
	padding: 10px;
	padding-bottom: 1px;
	background: #eee;
	border-radius: 5px;
}
.comment-entry p {
	margin-bottom: 10px;
	font-size: 16px;
}
.comment-author-avatar {
	display: block;
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	height: 50px;
	width: 50px;
	background: #fff;
}
.comment-author-avatar img {
	height: 50px;
	width: 50px;
}
.comment-author {
	margin-bottom: 20px;
	padding: 2px 10px;
	padding-left: 10px;
	font-size: 12px;
}
#comment-form h3 {
	font-size: 20px;
	font-weight: bold;
	margin-top: 40px;
}



/* -----------------------------------------
   Home
----------------------------------------- */
.home #main-content {
	padding-top: 10px;
}
.home #main-featured {
	overflow: hidden;
	border-radius: 15px;
	margin-bottom: 20px;
	border-radius: 15px;
	overflow: hidden;
	width: 1000px;
	height: 360px;
}
.home #main-featured .slide {
	overflow: hidden;
	width: 1000px;
	height: 360px;
	background: #000;
	border-radius: 15px;
	background-repeat: no-repeat;
	background-position: right top;
}
.home #main-featured .slide-image {
	width: 1000px;
	height: 360px;
	text-align: right;
	position: absolute;
	border-radius: 15px;
}
.home #main-featured .slide-text {
	position: absolute;
	width: 550px;
	height: 360px;
	padding: 30px 100px 30px 30px;
	color: #fff;
	background: url(images/site/main-featured-overlay.png) no-repeat left top;
	border-radius: 15px;
}
.home #main-featured .event-name {
	color: #fff;
	font-size: 48px;
	font-weight: 400;
	margin-bottom: 10px;
}
.home #main-featured .event-date {
	color: #81AAAD;
	font-size: 21px;
	text-transform: uppercase;
	margin-bottom: 5px;
}
.home #main-featured .event-venue {
	font-size: 21px;
	text-transform: uppercase;
	font-weight: 100;
}
.home #main-featured a.slide-more {
	display: block;
	width: 74px;
	height: 38px;
	background: url(images/site/button-more.png) no-repeat left top;
	font-size: 0px;
	color: transparent;
}
.home #main-featured a.slide-more:hover {
	background-position: right top;
}
.home #home-promo {

}
.home #home-promo .promo-background {
	height: 344px;
	width: 300px;
	background: #F1F7E8;
	border-radius: 15px;
}
.home #home-promo a {
	position: absolute;
	left: -20px;
	top: 0px;
}
.home .entry {
	padding-bottom: 10px;
	margin: 0px;
}
.home .entry .entry-title {
	font-size: 22px;
	font-weight: 300;
	margin-bottom: 0px
}
.home .entry img {
	margin-bottom: 10px;
}
.home .entry a.more {
	background: #8FC73E;
	color: #fff;
	margin-left: 5px;
	padding: 0px 10px 0px 4px;
	border-radius: 3px;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: .1em;
	text-transform: uppercase;
	background: #8FC73E url(images/site/arrow-r-white.png) no-repeat right 4px;
}
.home .entry a.more:hover {
	background-color: #86B239;
}
.home #home-recent-posts .section-head {
	font-size: 28px;
	font-weight: 400;
}
.home #contact-center {
	min-height: 110px;
	text-align: center;
	background: url(images/site/arrow-tall-gray.png) no-repeat right center;
}
.home #contact-center h4 {
	font-size: 50px;
	color: #1E7577;
	text-transform: uppercase;
	margin: 0px;
	padding-top: 3px;
}
.home #contact-center p {
	font-size: 30px;
	color: #4D4D4D;
	margin: 0px;
	line-height: 1.2em;
}
.home #contact-right .button {
	width: 240px;
	height: 65px;
	border: none;
	background: url(images/site/button-contact.png) no-repeat left top;
	color: transparent;
	font-size: 0px;
	margin-top: 20px;
	margin-left: 40px;
}
.home #contact-right .button:hover {
	background-position: right top;
}


/* -----------------------------------------
   Calendar
----------------------------------------- */
.calendar #main {
}
.calendar #calendar-nav {
	margin-top: 20px;
}
.calendar #calendar-page-header {
	background: url(images/site/header-calendar.png) no-repeat center center;
	display: block;
	width: 150px;
	height: 40px;
	text-indent: -9999px;
	position: relative;
	top: -10px;
}
.calendar dl.tabs.five-up dd {
	width: 20%;
}
.calendar dl.tabs.five-up dd.tab-header {
	width: 25%
}
.calendar dl.tabs {
	border-color: #999;
	margin-bottom: 10px;
}
.calendar dl.tabs dd a {
	text-transform: uppercase;
	font-size: 18px;
	color: #8FC73E;
}
.calendar dl.tabs dd.active {
  border-top: 1px solid #E6E6E6;
  margin-top: -1px;
}
.calendar dl.tabs dd.active ,
.calendar dl.tabs dd.active a {
	border-radius: 10px 10px 0px 0px;
	border-color: #999;
  color: #4D4D4D;
}
.calendar dl.tabs dd.tab-search {
	text-align: right;
}
.calendar .header {
	position: relative;
	border-bottom: 1px solid #999;
	margin-bottom: 20px;
	padding: 10px 0px;
	padding-bottom: 20px;
}
.calendar .header .left {
	position: absolute;
	left: 0px;
	top: 15px;
	line-height: 15px;
}
.calendar .header .right {
	position: absolute;
	right: 0px;
	top: 15px;
	line-height: 15px;
}
.calendar .header .center {
	text-align: center;
}
.calendar .header .center h4 {
	margin: 0px;
}
.calendar .event-count {
	font-weight: normal;
	font-size: 14px;
}


/* upcoming */
.calendar.all .event-image {
	float: right;
	margin: 0px 0px 10px 10px;
}
.calendar.all .event-name {
	margin-bottom: 3px;
}
.calendar.all .event-venue {
	font-weight: bold;
	margin-bottom: 3px;
}
.calendar.all .event-date {
	margin-bottom: 0px;
	font-weight: 700;
}
.calendar.all .event-count {
	text-align: center;
	margin-bottom: 0px;
	padding-top: 5px;
}
.calendar.all .event-noresults {
	text-align: center;
}

/* monthly */
.calendar.month table thead tr th, 
.calendar.month table tfoot tr td {
	padding: 3px;
}
.calendar.month #calendar-table {
	padding: 0px;
	width: 300px;
}
.calendar.month #calendar-table tbody tr:nth-child(2n) {
	background: #fff;
}
.calendar.month #calendar-table td {
	width: 12%;
	padding: 0px;
}
.calendar.month #calendar-table th.day_of_week {
	text-align: center;
	font-size: 13px;
}
.calendar.month #calendar-table .day_cell {
	border: 1px solid #eee;
	padding: 0px;
	height: 56px;
}
.calendar.month #calendar-table .day_cell:hover {
	cursor: pointer;
	background: #ddd;
}
.calendar.month #calendar-table .day_cell .date {
	font-size: 11px;
	padding: 0px 2px;
	color: #aaa;
}
.calendar.month #calendar-table .out_of_range,
.calendar.month #calendar-table .out_of_range:hover {
	background: #f9f9f9;
	cursor: default;
}
.calendar.month #calendar-table .out_of_range .date {
	
}
.calendar.month #calendar-table .current,
.calendar.month #calendar-table .current:hover {
	background: #8FC73E;
	cursor: default;
}
.calendar.month #calendar-table .current .date {
	color: #fff;
}
.calendar.month #calendar-table .day_cell .event {
	font-size: 11px;
	line-height: 1.2em;
	padding: 2px;
	text-align: center;	
}
.calendar.month #calendar-table .day_cell .event-count {
	font-weight: bold;
	font-size: 15px;
	display: block;
	padding-bottom: 1px;
	color: #8FC73E;
}
.calendar.month #calendar-table .current .event-count {
	color: #333;
}
.calendar.month #month-schedule {
	padding: 10px 20px;
	border: 1px #ddd solid;
	border-radius: 3px;
}
.calendar.month .day-schedule {
	display: none;	
	margin: 0px;
	padding: 0px;
}
.calendar.month .day-schedule.current {
	display: block;
}
.calendar.month .day-schedule .event {
	margin: 0px !important;
	padding: 0px;
	list-style: none;
}
.calendar.month .day-schedule .event-time {
	font-weight: bold;
}
.calendar.month .day-schedule .event-name {
	font-weight: bold;
}
.calendar.month .day-schedule .event-category {
	font-size: 12px;
}
/* weekly */
.calendar.week .event-list li {
	list-style: none;
}
.calendar.week .event-list .event-time {
	display: block;
	float: left;
	width: 60px;
	margin-right: 10px;
	font-weight: bold;
}
.calendar.week .event-list .event-venue {
	color: #999;
	font-size: 12px;
	font-style: italic;
}
.calendar.week .event-list .event-category {
	font-size: 12px;
}
.calendar.week .event-weekday {
	font-weight: bold;
}

/* daily */
.calendar.day .entry {
	border: none;
	padding-top: 0px;
	padding-bottom: 0px;
}
.calendar.day .event-image {
	float: right;
	margin: 0px 0px 10px 10px;
}
.calendar.day .event-name {
	margin-bottom: 5px;
}
.calendar.day .event-info {
	margin-bottom: 3px;
}
.calendar.day .event-summary p {
	font-size: 13px;
}
.calendar.day .event-time {
	font-weight: 700;
	margin-bottom: 0px;
}

/* sidebar */
.calendar #sidebar {
	
}
.calendar #sidebar li {
	list-style: none;
	margin: 0px 0px 6px 0px;
	clear: both;
	letter-spacing: .1em;
}
.calendar #sidebar .round {
	padding: 4px 7px 4px 7px;
	border-radius: 7px;
}
.calendar #sidebar .label {
	font-weight: 500;
	font-size: 12px;
	font-family: "quatro-slab",serif;
}
.calendar #sidebar li a {
	color: #fff;
}
.calendar #sidebar .cat-fav .label {
	background: #1E7577;
}
.calendar #sidebar .cat-fav .label:hover {
	background: #004C4C;
}
.calendar #sidebar .cat-genre .label {
	background: #8FC73E;
}
.calendar #sidebar .cat-genre .label:hover {
	background: #86B239;
}
.calendar #sidebar .active .label {
	background: #000;
}
.calendar #sidebar .active .label:hover {
	background: #000;
	cursor: default;
}
.calendar #sidebar .inactive .label {
	background: #ddd;
}
.calendar #sidebar .inactive .label:hover {
	background: #bbb;
}
.calendar #sidebar .cat-clear .label {
	padding-left: 22px;
	font-weight: bold;
	background: #ddd url(images/site/close-x-12.png) no-repeat 5px 6px;
}
.calendar #sidebar .cat-clear.active .label {
	background: #FFDE00 url(images/site/close-x-12.png) no-repeat 5px 6px;
}
.calendar #sidebar .cat-clear.active .label:hover {
	cursor: pointer;
	background: #ecca3a url(images/site/close-x-12.png) no-repeat 5px 6px;
}
.calendar #sidebar .cat-clear.inactive a:hover {
	cursor: default;
	background: #ddd url(images/site/close-x-12.png) no-repeat 5px 6px;
}


/* -----------------------------------------
   Event
----------------------------------------- */
.event #page-header {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.event #event-genre {
	margin-bottom: 3px;
}
.event #page-name {
	margin-bottom: 0px;
}
.event .event-date {
	font-size: 24px;
}
.event .ticket-available {
	font-weight: normal;
	font-style: italic;
	font-size: 15px;
}
.event #event-gallery {
	display: block;
}
.event #event-slideshow {
	margin-bottom: 10px;
}
.event #event-slideshow-pager {
	clear: both;
}
.event #event-slideshow-pager li {
	display: inline;
	list-style: none;
	margin: 0px;
	margin-right: 10px;
}
.event #sidebar {
	padding-top: 20px;
	padding-left: 30px;
}
.event #sidebar .section-head {
	margin-top: 30px;
}
.event #sidebar li {
	margin-left: 20px;
}
.event .event-favorite {
	min-height: 52px;
	margin-bottom: 20px;
}
.event .Favorites_Status {
	display: none;
	visibility: hidden;
}
.event .Favorites_Save,
.event .Favorites_Save_Full {
	display: block;
	width: 210px;
	height: 52px;
	background: url(images/site/button-save-event.png) no-repeat left top;
	font-size: 0px;
	color: transparent;
}
.event .Favorites_Save:hover,
.event .Favorites_Save_Full:hover {
	background-position: right top;
}
.event .Favorites_Delete {
	display: block;
	width: 150px;
	height: 52px; 
	background: url(images/site/button-saved-event.png) no-repeat left top;
	font-size: 0px;
	color: transparent;
}
.event .Favorites_Delete:hover {
	background-position: right top;
}
.event .Favorites_Save_Disabled {
	display: block;
	width: 210px;
	height: 52px;
	background: url(images/site/button-save-event-disabled.png) no-repeat left top;
	font-size: 0px;
	color: transparent;
}
.event .social-buttons {
	border: none;
	background: #F2F2F2;
	padding: 10px;
	border-radius: 10px;
	margin-bottom: 20px;
}
.event #event-links p {
	margin-bottom: 5px;
	font-weight: bold;
}
.event .event-ticket-type {
	display: block;
	padding-left: 10px;
}
.event #event-upcoming li {
	list-style: none;
	font-size: 13px;
	margin: 0px;
}
.event #event-upcoming .view-more {
	color: #2BA6CB;
}
.event #event-upcoming .view-more:hover {
	cursor: pointer;
	color: #2795B6;
}




/* -----------------------------------------
   Orgs
----------------------------------------- */
#org-grid {
	margin: 10px -10px;
}
#org-grid > li { 
	padding: 10px; 
	margin: 0px;
	border-top: 1px solid #ccc;
}
#org-grid .org-logo {
	height: 170px;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
	display: table;
}
#org-grid .org-logo a {
	height: 150px;
	display: table-cell;	
	vertical-align: middle;
}
#org-grid .org-logo img {	
	max-height: 150px;
}
#org-grid .org-name {
	text-align: center;
	font-size: 14px;
	margin-bottom: 10px;
	color: #B3B3B3;
	text-transform: uppercase;
	font-weight: 300;
}
#org-grid .org-name a {
	color: #B3B3B3;
}
#org-grid .org-name a:hover {
	color: #999;
}
.orgs.single #org-logo {
	margin-bottom: 10px;
	text-align: right;
}
.orgs.single #org-contact p {
	margin-bottom: 0px;
}
.orgs.single #main {
	padding-right: 20px;
	border-right: 2px dotted #9BBCBD;
}
.orgs.single #main p {
	font-size: 18px;
}
.orgs.single #sidebar {
	padding-left: 20px;
}
.orgs.single #org-description {
	margin-top: 20px;
}
.orgs #sidebar li {
	list-style: none;
	margin: 5px 0px;
}
.orgs #org-social {
	margin-bottom: 20px;
}



/* -----------------------------------------
   Locations
----------------------------------------- */
.locations #location-sort {
	border-top: 1px solid #ccc;
	margin-top: 10px;
}
.locations #location-sort h5 {
	margin: 10px 0px;
	font-size: 14px;
}
.locations #location-sort a {
	background: url(images/site/arrow-d-gray.png) no-repeat right center;
	padding-right: 15px;
}
.locations #location-sort a:hover {
	color: #86B239;
}
.locations #location-sort a.current {
	background: url(images/site/arrow-d-black.png) no-repeat right center;
	color: #000;
}
.locations .row.location {
	border-top: 1px solid #ccc;
	padding: 20px 0px;
}
.locations .location-name {
	margin-bottom: 3px;
}
.locations .location-website,
.locations .location-address {
	margin-bottom: 3px;
}
.locations .location .branding {
	text-align: center;
}
.locations .location-logo {
	text-align: right;
}
.locations.single #main {
	padding-right: 20px;
	border-right: 2px dotted #9BBCBD;
}
.locations.single #main p {
	font-size: 18px;
}
.locations.single #org-contact p {
	margin-bottom: 0px;
}
.locations.single #location-map {
	margin: 20px 0px;
}
.locations.single #sidebar {
	padding-left: 20px;
}
.locations #sidebar li {
	list-style: none;
	margin: 5px 0px;
}
.locations #location-social {
	margin-bottom: 20px;
}




/* -----------------------------------------
   Blog
----------------------------------------- */
.blog #main {
	padding-right: 10px;
}
.blog .entry {
	border-top: 2px dotted #9BBCBD;
	padding-top: 10px;
	padding-bottom: 50px;
}
.blog .entry-title  {
  font-family: DharmaGothicM-Bold,sans-serif;
  font-weight: normal;
	font-size: 48px;
	margin-bottom: 3px;
}
.blog #page-subhead + .entry-cat-list {
	margin-top: -10px;
}
.blog #page-subhead p {
	color: #87AEB0;
	font-size: 24px;
	line-height: 1.2em;
	margin-bottom: 5px;
}
.blog .entry-date {
	margin-bottom: 20px;
	font-size: 18px;
}
.blog .entry-main-image {
	text-align: center;
	margin-bottom: 15px;
}
.blog .entry-image-caption {
	margin-bottom: 5px;
	font-style: italic;
	font-size: 13px;
}
.blog #pagination {
	border-top: 2px dotted #9BBCBD;
	padding-top: 5px;
}
.blog.single #page-name {
	margin-bottom: 3px;
}
.blog.single .entry {
	border: none;
}
.blog.single .entry-nav {
	border-top: 2px dotted #9BBCBD;
	padding-bottom: 40px;
	padding-top: 5px;
}
.blog.single .entry-nav p {
	margin-bottom: 0px;
}
.blog.single .social-buttons {
	border: none;
	margin-bottom: 20px;
}
.blog #sidebar {
	padding-top: 20px;
	padding-left: 30px;
}
.blog #blog-terms p {
	font-size: 13px;
	line-height: 1.3em;
}
.blog #sidebar .section-head {
	margin-top: 30px;
}
.blog #sidebar li {
	list-style: none;
	margin: 5px 0px;
}
.blog #become-reviewer a {
	display: block;
	width: 300px;
	height: 120px;
	background: url(images/site/button-become-reviewer.png) no-repeat left top;
	font-size: 0px;
	color: transparent;
}
.blog #become-reviewer a:hover {
	background-position: right top;
}
.blog #blog-search {
	margin-top: 30px;
}
.blog .draft-status {
	font-size: 24px;
	color: #999;
}


/* -----------------------------------------
   Contact
----------------------------------------- */
.contact .message {
	height: 200px;
}


/* -----------------------------------------
   Application
----------------------------------------- */

/* signup page */
.application.signup .entry-image {
	text-align: center;
}
.application.signup .entry-image img {
	width: 280px;
	height: auto;
	margin: 0px auto;
}

/* signup form */
.application form p {
	font-size: 14px;
	color: #4D4D4D;
	font-weight: 500;
}
.application select {
  width: auto;
  margin-bottom: 12px;
}
.application .terms {
  background: #f6f6f6;
  padding: 10px 20px;
  margin: 10px 0px;
}
.application .terms p {
  font-size: 12px;
  margin-bottom: .75em;
}
.application #accept_terms {
  margin-bottom: 10px;
}
.application .app_interests_list {
  margin: 20px 0px;
}
.application .app_interests_list p,
.application .app_member_type_list p {
  margin-bottom: 5px;
}
.application .app_interests_list label {
  float: left;
  width: 180px;
  margin-right: 10px;
}
.application .app_member_type_list {
	margin: 20px 0px;
}
.application .app_member_type_list label {
  padding-left: 20px;
  line-height: 1.3em;
  margin-bottom: 8px;
}
.application .app_member_type_list input {
  margin-left: -20px;
}
.application p.require {

}
#account_terms label.error {
	clear: both;
	padding: 10px 23px;
}






/* -----------------------------------------
   Account
----------------------------------------- */
.account .section {
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.account .row.header {
	background: #000;
	color: #fff;
	margin-bottom: 10px;
}
.account .row.header .columns {
	padding: 5px 10px;
	font-weight: bold;
}
.account .no_info {
	font-style: italic;
	color: #999;
}
.account #member-comments .comment .posted {
	margin: 0px;
	font-size: 12px;
	font-style: italic;
}
.account .edit-profile {
	margin-top: -10px;
	float: right;
}
.account p.require {
	text-align: right;
}
.account .terms {
  background: #f6f6f6;
  padding: 10px 20px;
  margin: 10px 0px;
}
.account #member-profile {
	background: #eee;
}
.account #member-profile #member-avatar img {
	margin: 10px;
}
.account #member-profile #member-screenname {
	margin: 20px 0px 5px 0px;
}
.account .total-count {
	font-weight: bold;
}
.account .event-name {
	margin-bottom: 5px;
}
.account .paginate {
	margin-top: 40px;
	padding: 10px 0px;
	border-top: 1px solid #ddd;
}
.account.edit label.field_return,
.account.settings label.field_return  {
  padding-top: 10px;
}
.account.edit .label_birthdate_error {
	color: #cc0000;
}
.account .event-name {
	margin-bottom: 0px;
}
.account .event-dates {
	font-weight: bold;
	margin-bottom: 0px;
}
.account .event-over {
	font-weight: normal;
}
.account .event-saved {
	font-size: 12px;
}
.account .alert-box {
	text-align: center;
	margin-bottom: 30px;
	padding: 10px;
	font-size: 24px;
}
.accont .alert-box.success {
	background: #8FC73E;
}


/* -----------------------------------------
   Member Profile
----------------------------------------- */
.member #member-profile {
	background: #eee;
	margin-bottom: 30px;
}
.member #member-profile #member-avatar img {
	margin: 10px;
}
.member #member-profile #member-screenname {
	margin: 20px 0px 5px 0px;
}
.member .total-count {
	font-weight: bold;
}
.member .entry {
	margin-bottom: 0px;
	padding-bottom: 10px;
}
.member .entry .posted {
	margin-bottom: 0px;
}
.member #pagination {
	border-top: 2px dotted #9BBCBD;
	padding-top: 5px;
}
.member .view-all {
	margin-bottom: 40px;
}
.member .comment .posted {
	margin-bottom: 0px;
}


#member-profile .social-icons {
	margin-top: -10px;
}
#member-profile .social-icons img {
	max-width: 24px;
	height: auto;
}



/* -----------------------------------------
   Facebook
----------------------------------------- */
#fb-util-login {
	padding: 8px 20px;
}
#fb-register {
	font-size: 16px;
	margin-bottom: 30px;
}
#fb-modal-login {
	margin-bottom: 20px;
}



/* -----------------------------------------
   Search
----------------------------------------- */
.search .entry { 
	padding: 10px 0px;
	border-top: 2px dotted #9BBCBD;
}
.search .entry .channel-name {
	margin-bottom: 3px;
}
.search .entry .event-dates {
	font-size: 18px;
	margin-top: -10px;
}
.search #pagination {
	border-top: 2px dotted #9BBCBD;
	padding-top: 5px;
}



/* -----------------------------------------
   Footer
----------------------------------------- */
#footer {
	background: #1E7577 url(images/site/trans-texture.png) 0px -30px;
	color: #fff;
	width: 100%;
	padding: 30px 0px 30px 0px;;
}
#footer .footer-header {
  font-family: "museo-sans",sans-serif;
  text-transform: uppercase;
  margin-bottom: 5px;
}
#footer #footer-about {
	padding-right: 20px;
}
#footer #footer-about p {
	font-size: 18px;
}
#footer #footer-about img {
	float: left;
	margin-right: 20px;
}
#footer #footer-links {
	border-left: 2px dotted #999;
	padding-left: 20px;
}
#footer .section-head {
	color: #fff;
	line-height: 1em;
	padding-bottom: 5px;
}
#footer ul {
	margin-bottom: 0px;
}
#footer li {
	list-style: none;
	line-height: 1.3em;
}
#footer #footer-utility-nav {
	padding-bottom: 20px;
}





/* -----------------------------------------
   Credits
----------------------------------------- */
#credits {
	background: #004c4c url(images/site/trans-texture.png) 0px -30px;
	width: 100%;
	padding: 20px 0px;	
}
#credits p {
	color: #9BBCBD;
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1em;
	margin: 0px;
	padding: 0px;
}
#credits img {
	vertical-align: middle;
	margin: 0px 10px;
}




/* -----------------------------------------
   Fonts
----------------------------------------- */
@font-face {font-family: 'DharmaGothicM-Bold';src: url('fonts/webfonts/263FDC_0_0.eot');src: url('fonts/webfonts/263FDC_0_0.eot?#iefix') format('embedded-opentype'),url('fonts/webfonts/263FDC_0_0.woff') format('woff'),url('fonts/webfonts/263FDC_0_0.ttf') format('truetype');}
 