/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */

/* typography */
h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
}

.hidden {
	display: none;
}

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

/* Forms */
fieldset {
	background: #f9f9f9;
  padding: 20px 15px;
  margin-bottom: 30px;
}
fieldset legend {
  font-size: 22px;
}
select { 
  font-size: 13px;
  font-family: Helvetica, Arial, san-serif;
  padding: 5px;
}
label {
/*   color: #333; */
} 
label.require {
  font-weight: bold;
  color: #000;
}
label.error {
	margin-top: -8px;
	margin-bottom: 10px;
}
label.field_return  {
  padding-top: 24px;
}
label.field_return {
	display: none;
}
label.field_return.available {
	display: block;
	color: green;
}
label.field_return.unavailable {
	display: block;
	color: red;
}
.form_submit {
  text-align: center;
}
.date_input input {
  display: inline;
  width: auto;
}
.label_checkbox {
  padding-left: 20px;
  margin-bottom: 20px;
}
.label_checkbox input {
  margin-left: -20px;
}



/* -----------------------------------------
   Header
----------------------------------------- */
#header {
	margin-top: 20px;
}
#logo {
	margin: 0px;
}
#utility-nav {
	background: none;
	margin: 0px;
}
#utility-nav > li {
	background: #ccc;
	border: none;
	line-height: 28px;
}
#utility-nav > li > a:first-child {
	color: #000;
	padding: 0px 10px;
}
#utility-nav form {
  line-height: 1.3em;
}
#utility-nav input {
  margin-bottom: 5px;
}
#utility-nav .flyout {
	top: 28px;
}


/* -----------------------------------------
   Nav Bar
----------------------------------------- */
#main-nav {
	margin-bottom: 0px;
}
#main-nav .flyout ul {
	margin: 0px;
}
#main-nav .flyout li {
	border: none;
}
#main-nav .flyout li a {
	padding: 3px 0px;
}

/* breadcrumb */
#nav-breadcrumb {
	font-size: 12px;
	padding: 10px 10px 20px 10px;
}
ul.breadcrumbs {
	padding: 0px;
	margin-bottom: 0px;
	background: none;
	border: none;
}


/* -----------------------------------------
   Home
----------------------------------------- */
.home #main-featured {
	margin-top: 20px;
}



/* -----------------------------------------
   Calendar
----------------------------------------- */
.calendar .header {
	position: relative;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px;
	padding: 10px 0px;
}
.calendar .header .left {
	position: absolute;
	left: 0px;
	top: 15px;
	line-height: 15px;
}
.calendar .header .right {
	position: absolute;
	right: 0px;
	top: 15px;
	line-height: 15px;
}
.calendar .header .center {
	text-align: center;
}
.calendar .header .center h4 {
	margin: 0px;
}
.calendar .event-count {
	font-weight: normal;
	font-size: 14px;
}
.calendar .entry {
	padding: 10px 0px;
	border-top: 1px solid #ccc;
}
.calendar .entry .calendaar-meta {
	margin-bottom: 3px;
}

/* upcoming */
.calendar.upcoming .entry img {
	float: left;
	margin-right: 20px;
}
.calendar.upcoming .entry .event-name {
	margin-bottom: 3px;
}
.calendar.upcoming .entry .event-venue {
	font-weight: bold;
	margin-bottom: 3px;
}

/* monthly */
.calendar.month #calendar_table td {
	width: 15%;
	padding: 0px;
}
.calendar.month #calendar_table th.day_of_week {
	text-align: center;
	font-size: 14px;
}
.calendar.month #calendar_table .event {
	font-size: 11px;
	line-height: 1.1em;
	padding: 2px 5px;
}
.calendar.month #calendar_table .day_cell .date {
	background: #ccc;
	font-weight: bold;
	font-size: 13px;
	padding: 1px 3px;
}
/* weekly */
.calendar.week .event-list li {
	list-style: none;
}
.calendar.week .event-list .event-time {
	display: block;
	float: left;
	width: 60px;
	margin-right: 10px;
	font-weight: bold;
}
.calendar.week .event-list .event-venue {
	color: #666;
	font-size: 12px;
}
/* daily */
.calendar.day .entry {
	border: none;
	padding-top: 0px;
}
.calendar.day .event-name {
	margin-bottom: 5px;
}
.calendar.day .event-info {
	margin-bottom: 3px;
}
.calendar.day .event-summary p {
	font-size: 13px;
}

/* -----------------------------------------
   Event
----------------------------------------- */
.event #page-header {
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}
.event #event-genre {
	margin-bottom: 3px;
}
.event #page-name {
	margin-bottom: 5px;
}
.event #event-date {
	padding-top: 10px;
}
.event .ticket-available {
	font-weight: normal;
	font-style: italic;
	font-size: 15px;
}
.event #sidebar {
	padding-top: 20px;
}
.event #sidebar h5 {
	border-top: 1px solid #ccc;
	padding-top: 10px;
	margin-bottom: 10px;
}
.event .social-buttons {
	padding: 10px 0px;
	border-top: 1px solid #ccc;
}
.event .social-buttons a {
	display: inline-block !important;
	vertical-align: bottom;
}
.event .social-buttons .addthis_button_facebook_like {
	width: 47px;
	height: 65px;
}
.event .social-buttons .addthis_button_tweet {
	width: 55px;
	height: 65px;
}
.event .social-buttons .addthis_button_google_plusone {
	width: 50px;
	height: 65px;
	padding-top: 1px;
}
.event .social-buttons .addthis_counter {
	width: 50px;
	height: 65px;
}
.event #event-upcoming li {
	list-style: none;
	font-size: 13px;
	margin: 0px;
}
.event #event-upcoming .view-more {
	color: #2BA6CB;
}
.event #event-upcoming .view-more:hover {
	cursor: pointer;
	color: #2795B6;
}

/* -----------------------------------------
   Orgs
----------------------------------------- */



/* -----------------------------------------
   Venues
----------------------------------------- */



/* -----------------------------------------
   Blog
----------------------------------------- */
.blog .entry {
	line-height: 1.5em;
	border-bottom: 1px solid #ccc;
	padding-bottom: 20px;
	margin-bottom: 20px;
}
.blog .entry-date {
	margin-bottom: 3px;
	text-transform: uppercase;
}


/* -----------------------------------------
   Application
----------------------------------------- */
.application select {
  width: auto;
  margin-bottom: 12px;
}
.application .terms {
  background: #f6f6f6;
  padding: 10px 20px;
  margin: 10px 0px;
}
.application .terms p {
  font-size: 12px;
  margin-bottom: .75em;
}
.application #accept_terms {
  margin-bottom: 10px;
}
.application .app_interests_list {
  margin: 20px 0px;
}
.application .app_interests_list p,
.application .app_member_type_list p {
  margin-bottom: 0px;
}
.application .app_interests_list label {
  float: left;
  width: 180px;
  margin-right: 10px;
}
.application .app_member_type_list label {
  padding-left: 20px;
  line-height: 1.3em;
  margin-bottom: 8px;
}
.application .app_member_type_list input {
  margin-left: -20px;
}
.application p.require {
	text-align: right;
}
#account_terms label.error {
	clear: both;
	padding: 10px 23px;
}





/* -----------------------------------------
   Account
----------------------------------------- */
.account .section {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
}
.account .row.header {
	background: #000;
	color: #fff;
	margin-bottom: 10px;
}
.account .row.header .columns {
	padding: 5px 10px;
	font-weight: bold;
}
.account .no_info {
	font-style: italic;
	color: #999;
}
.account #member_comments .comment .posted {
	margin: 0px;
	font-size: 12px;
	font-style: italic;
}
.account .edit-profile {
	float: right;
}
.account p.require {
	text-align: right;
}
.account #member_profile .row {
	background: #f6f6f6;
	padding: 20px 10px;
}
.account .total-count {
	font-weight: bold;
}
.account .event-name {
	margin-bottom: 5px;
}
.account .paginate {
	margin-top: 40px;
	padding: 10px 0px;
	border-top: 1px solid #ddd;
}

