/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */


/* Forms */
fieldset {
  padding: 20px 12px;
  margin-bottom: 30px;
}
fieldset legend {
  font-size: 22px;
}
select { 
  font-size: 13px;
  font-family: Helvetica, Arial, san-serif;
  padding: 5px;
}
label {
  color: #999;
} 
label.require {
  font-weight: bold;
  color: #000;
}
label.error {
  margin-top: -8px;
  margin-bottom: 8px;
}
.form_submit {
  text-align: center;
}
.date_input input {
  display: inline;
  width: auto;
}
input[type="checkbox"] {
  margin-bottom: 10px;
}


/* -----------------------------------------
   Application
----------------------------------------- */
.application select {
  width: auto;
  margin-bottom: 12px;
}
.application .terms {
  background: #f6f6f6;
  padding: 10px 20px;
  margin: 10px 0px;
}
.application .terms p {
  font-size: 12px;
  margin-bottom: .75em;
}




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


