{exp:channel:entries channel="advertising" dynamic="no"  category="43"  limit="1" orderby="random"}
<div id="blog-sidebar-ad-space">
  {embed="inc/.ad-300" border="false" entry_id="{entry_id}" zone="blog"}
</div>
{if no_results}
  <div id="become-reviewer">
  	<a href="/write-for-our-blog">Become a Teen Reviewer</a>
  </div>
{/if}
{/exp:channel:entries}

<div id="blog-search" class="row collapse">
	{exp:search:simple_form
		name="utility_search"
		no_result_page="blog/noresults"
		result_page="blog/results"
		search_in="everywhere"
		channel="blog"
		status="open|featured"
		results="20"
	}
	<div class="ten mobile-three columns">
    <input type="text" name="keywords" id="keywords" value="" placeholder="Search TeenTix Blog" size="18" maxlength="100">
  </div>
  <div class="two mobile-one columns">
    <input type="submit" value="GO" class="submit button  expand postfix">
  </div>
	{/exp:search:simple_form}

</div>





<div id="blog-categories">
	<h4 class="section-head sans">Articles</h4>
	{exp:channel:categories channel="blog" category_group="4" show_empty="no"}
  <a href="{path='blog'}">{category_name}</a>
	{/exp:channel:categories}

	<h4 class="section-head sans">Genres</h4>
	{exp:channel:categories channel="blog" category_group="1" show_empty="no"}
  <a href="{path='blog'}">{category_name}</a>
	{/exp:channel:categories}
</div>

<div id="blog-archive">
	<h4 class="section-head sans">Archives</h4>
	<ul>
	{exp:yearlist channel="blog"}
		<li><a href="{path='blog/archives'}/{year}">{year}</a></li>
	{/exp:yearlist}
	</ul>
</div>

<div id="blog-terms">
	<h4 class="section-head sans">Disclaimer</h4>
	{blog_disclaimer}
</div>