{exp:channel:entries 
	channel="blog" 
	limit="1" 
	status="not closed"
	require_entry="yes"
}

	{embed="inc/.header"
		title="{title} | Blog"
		body_class="blog single"
	}
	
	{embed="inc/.nav"
		end_title="{title}"
	} 
    
  <div class="row">
  	
    <div id="main" class="eight columns">
    	
    	<div class="entry">
				
				<h1 id="page-name">{title} {if status == "Draft"}<span class="draft-status">[Draft]</span>{/if}</h1>
			{if blog_subhead}
				<div id="page-subhead">{blog_subhead}</div>			  
		  {/if}
				
				<div class="entry-cat-list clearfix">
	    	{categories show_group="1"}<a href="{path='blog'}" class="entry-category">{category_name}</a>{/categories}
    		</div>
				<p class="entry-date">By <a href="{profile_path='member'}">{author}</a> | {entry_date format="%F %j, %Y"} | {entry_date format="%g:%i %a"}</p>
				
  		{if blog_image}
  			{exp:ce_img:pair src="{blog_image}" width="620"}
				<img src="{made}" alt="" width="{width}" height="{height}" />
				{/exp:ce_img:pair}
    	{/if}
    		{blog_body}
    	</div>
	
	{if no_results}
		{redirect="blog"}
	{/if}
	
	{if status=="Draft"}
		{if logged_out || logged_in_group_id=="5"}
			{redirect="blog"}
		{/if}
	{/if}  	

{/exp:channel:entries}
    	
    	<div class="entry-nav">
	    {exp:channel:next_entry channel="blog" status="not closed|draft"}
		    <p class="entry-next">Next entry: <a href="{path='blog'}">{title}</a></p>
			{/exp:channel:next_entry}
	
			{exp:channel:prev_entry channel="blog" status="not closed|draft"}
		    <p class="entry-prev">Previous entry: <a href="{path='blog'}">{title}</a></p>
			{/exp:channel:prev_entry}
			</div>
			
			{embed="inc/.comments" channel="blog" comment_total="{exp:channel:entries channel='blog' limit='1' status='not closed'}{comment_total}{/exp:channel:entries}" }
			
    </div>

  	<div id="sidebar" class="four columns">
  	{exp:channel:entries channel="blog" limit="1" status="not closed"}
			{edit_this}
		{/exp:channel:entries}
			{embed="inc/.social-buttons"}
      {embed="blog/.sidebar"}
    </div>
  
  </div>

{embed="inc/.footer" include_login="true"}