{exp:channel:entries 
	channel="blog" 
	limit="1" 
	status="not closed"
	require_entry="yes"
}
{embed="inc/.header"
	title="{title} | Blog"
	body_class="blog single"
	og_description="{if blog_subhead}{exp:remove_html}{blog_subhead}{/exp:remove_html}{if:else}{exp:trunchtml chars='300'}{exp:remove_html}{blog_body}{/exp:remove_html}{/exp:trunchtml}{/if}"
	og_image="{blog_image limit='1'}{blog_image}{/blog_image}"
	canonical="{url_title_path='blog'}"
}

{embed="inc/.nav"
	end_title="{title}"
} 
    
  <div class="row">
  	
    <div id="main" class="eight columns">
    	
    	<div class="entry">
				
				<h1 id="page-name">{title} {if status == "Draft"}<span class="draft-status">[Draft]</span>{/if}</h1>
			{if blog_subhead}
				<div id="page-subhead">{blog_subhead}</div>			  
		  {/if}
				
				<p class="entry-date clearfix">
    			<span class="entry-cat-list">
		    	{categories show_group="1"}<a href="{path='blog'}" class="round label">{category_name}</a>{/categories}
	    		</span>
    			By <a href="{profile_path='member'}">{author}</a> | {entry_date format="%F %j, %Y"} | {entry_date format="%g:%i %a"}
    		</p>
			{if blog_video}
	  		<div class="flex-video widescreen">
	  		{blog_video}
	  		</div>
	  	{if:else}
	  		{if blog_image}
	  			<div class="entry-main-image">
		  			<a href="{url_title_path='blog'}">
		  			{exp:ce_img:pair src="{blog_image}" width="620" height="400"}
						<img src="{made}" alt="" width="{width}" height="{height}" />
						{/exp:ce_img:pair}
		  			</a>
		  			{if blog_image_caption}<p class="entry-image-caption">{blog_image_caption}</p>{/if}
	  			</div>
	    	{/if}
    	{/if}
    		{blog_body}
    		
    	</div>
	  	
  	{if status != "Draft"}
    	{embed="blog/.single_entrynav"}
			
			{embed="inc/.comments" channel="blog" comment_total="{comment_total}" }
		{/if}
			
    </div>

  	<div id="sidebar" class="four columns">
			{edit_this}
			{embed="inc/.social-buttons"}
      {embed="blog/.sidebar"}
    </div>
  
  </div>
	
	{if status=="Draft"}
		{if logged_out || logged_in_group_id=="5"}
			{redirect="blog"}
		{/if}
	{/if} 
	
	{if no_results}
		{redirect="blog"}
	{/if}
	
{/exp:channel:entries}

{embed="inc/.footer" include_login="true"}