{if logged_out || logged_in_group_id=="5"}
	{redirect="blog"}
{/if}
{embed="inc/.header"
	title="Blog"
	body_class="blog"
}

{embed="inc/.nav"
	end_title="Drafts"
}  
    
  <div class="row">
    <div id="main" class="eight columns">
	    
      <h1 id="page-name">TeenTix Blog Drafts
    {exp:channel:entries
    	channel="blog" 
    	limit="10" 
    	status="draft"
    }
			</h1>		
    	<div class="entry clearfix">    	
				
    		<h2 class="entry-title"><a href="{url_title_path='blog'}">{title}</a> <span class="draft-status">[Draft]</span></h2>
  		{if blog_subhead}
				<div id="page-subhead">{blog_subhead}</div>			  
		  {/if}
    		<div class="entry-cat-list clearfix">
	    	{categories show_group="1"}<a href="{path='blog'}" class="entry-category">{category_name}</a>{/categories}
    		</div>
    		<p class="entry-date">By <a href="{profile_path='member'}">{author}</a> | {entry_date format="%F %j, %Y"} | {entry_date format="%g:%i %a"}</p>
  		
  		{if blog_video}
	  		<div class="flex-video widescreen">
	  		{blog_video}
	  		</div>
	  	{if:else}
	  		{if blog_image}
	  			<div class="entry-main-image">
		  			<a href="{url_title_path='blog'}">
		  			{exp:ce_img:pair src="{blog_image}" width="620" height="400"}
						<img src="{made}" alt="" width="{width}" height="{height}" />
						{/exp:ce_img:pair}
		  			</a>
		  			{if blog_image_caption}<p class="entry-image-caption">{blog_image_caption}</p>{/if}
	  			</div>
	    	{/if}
    	{/if}
	  		{blog_body}
    	</div>
    	
    	{paginate}
    	<div id="pagination">
        <p>Page {current_page} of {total_pages} pages {pagination_links}</p>
      </div>
	    {/paginate}
		{/exp:channel:entries}      
      
    </div>
  	
  	<div id="sidebar" class="four columns">
  	{add_blog}
      {embed="blog/.sidebar"}
    </div>
  
  </div>

{embed="inc/.footer"}