{embed="inc/.header"
	title="Locations"
	body_class="locations"
}

{embed="inc/.nav"}
    
  <div class="row">
    <div class="twelve columns">
      <h1 id="page-name">Locations</h1>
    </div>
  </div>
  
  
  <!-- Three-up Content Blocks -->
  
  <div class="row">
  
    <div class="twelve columns">
    {exp:channel:entries channel="locations" limit="200" orderby="title" sort="asc"}
    	<div class="location row">
    		<div class="three columns">
    			<a href="{url_title_path='locations'}">
    			{exp:ce_img:pair src="{location_image}" width="220"}
					<img src="{made}" alt="" width="{width}" height="{height}" />
					{/exp:ce_img:pair}
    			</a>
    		</div>
    		<div class="six columns">
    			<h2><a href="{url_title_path='locations'}">{title}</a></h2>
    			<p>{location_address}</p>
    		</div>
    		<div class="three columns">
    			
    		</div>
    	
    	</div>
		{/exp:channel:entries}
      	
    </div>
    
  </div>
  
{embed="inc/.footer"}