{exp:channel:entries channel="locations" limit="1"}
{embed="inc/.header"
	title="{title} | Locations"
	body_class="locations single"
}

{embed="inc/.nav"
	end_title="{title}"
}
    
  <div class="row">
  	
		<div id="main" class="eight columns"> 
  		
  		<div class="row">
  			
  			<div class="eight columns">
	  			<h1 id="page-name">{title}</h1>
	  			<div id="org-contact">
	  			{if location_website}					
		  			<p class="org-website"><a href="http://{exp:parse_url parts="host|path|query|fragment"}{location_website}{/exp:parse_url}">{exp:parse_url parts="host|path|query|fragment"}{location_website}{/exp:parse_url}</a></p>
		  		{/if}
		  		{if location_address}
		  			<p class="org-address">{location_address}</p>
		  		{/if}
		  		{if location_phone}
		  			<p class="org-phone">{location_phone}</p>
		  		{/if}
		  		{if location_email}
		  			<p class="org-email">
		  			{location_email}
		    			{if name}{name}: {/if}{encode="{email}" title="{email}"}<br />
		  			{/location_email}
		  			</p>
		  		{/if}	
	  			</div>   			
  			</div>
  			<div class="four columns">
  			{exp:ce_img:pair src="{location_logo}" width="220" height="220" filter="grayscale"}
  				<div class="location-logo">
						<img src="{made}" alt="" width="{width}" height="{height}" />
					</div>
				{/exp:ce_img:pair}
  			</div>
  		</div>  
  		<div id="location-map">		
  		{location_google_map}	
  		</div>
  	{if location_gallery}
			<div id="gallery">
			{location_gallery}
				<div>
				  <img src="{image}" alt="{caption}" />
				  <p class="caption">{caption}</p>
				</div>
			{/location_gallery}
			</div>
		{/if}
		</div>
		
		<div id="sidebar" class="four columns">
		{edit_this}
		{if location_facebook OR location_twitter OR location_youtube OR location_flickr}
			<div id="location-social" class="social-icons">
				<h4 class="section-head sans">Social Links</h4>
			{if location_facebook}
  			<a href="http://{exp:parse_url parts="host|path|query|fragment"}{location_facebook}{/exp:parse_url}"><img src="{site_url}css/images/social/fb_1.png" alt="" title="{location_facebook}" /></a>
  		{/if}
  		{if location_twitter}
  			<a href="http://{exp:parse_url parts="host|path|query|fragment"}{location_twitter}{/exp:parse_url}"><img src="{site_url}css/images/social/twitter_1.png" alt="" title="{location_twitter}" /></a>
  		{/if}
  		{if location_youtube}
  			<a href="http://{exp:parse_url parts="host|path|query|fragment"}{location_youtube}{/exp:parse_url}"><img src="{site_url}css/images/social/you_tube.png" alt="" title="{location_youtube}" /></a>
  		{/if}
  		{if location_flickr}
  			<a href="http://{exp:parse_url parts="host|path|query|fragment"}{location_flickr}{/exp:parse_url}"><img src="{site_url}css/images/social/flickr.png" alt="" title="{location_flickr}" /></a>
  		{/if}
  		</div>
  	{/if}
		{if location_hours}
			<h4 class="section-head sans">Hours</h4>
			{location_hours}
		{/if}
		{if location_box_office}
			<h4 class="section-head sans">Box Office Info</h4>
			{location_box_office}
		{/if}
		
			<div id="location-orgs">
				<h4 class="section-head sans">Partners at this location</h4>
				<ul>			
				{reverse_related_entries channel="partners" sort="desc" orderby="title"}
		      <li><a href="{url_title_path='partners'}">{title}</a></li>
		      {if no_reverse_related_entries}
		      <li>No partners at this location</li>
		      {/if}
		    {/reverse_related_entries}
		    </ul>
	    </div>
	    
			<div id="location-events">
  			<h4 class="section-head sans">Upcoming Events</h4>
				<ul>
				{reverse_related_entries channel="calendar_events" sort="desc" orderby="date" limit="10" status="not closed"}
			    {embed="inc/.upcoming-events" event_id="{entry_id}"}
			    {if no_reverse_related_entries}
		      <li>No upcoming events at this time</li>
		      {/if}
	      {/reverse_related_entries}
      	</ul>
  		</div>
			
  	</div>
    
  </div>
  
{/exp:channel:entries}

{embed="inc/.footer"}