{exp:channel:entries channel="locations" limit="1"}
{embed="inc/.header"
	title="{title} | Locations"
	body_class="locations single"
}

{embed="inc/.nav"
	end_title="{title}"
}
    
  <div class="row">
  
  	{edit_this}
  	
		<div id="main" class="eight columns"> 
  		
  		<div class="row">
  			
  			<div class="seven columns">
	  			<h1 id="page-name">{title}</h1>
  			{if location_website}					
	  			<p class="org-website"><a href="http://{exp:parse_url parts="host|path|query|fragment"}{location_website}{/exp:parse_url}">{exp:parse_url parts="host|path|query|fragment"}{location_website}{/exp:parse_url}</a></p>
	  		{/if}
	  		{if location_address}
	  			<p class="org-address">{location_address}</p>
	  		{/if}
	  		{if location_phone}
	  			<p class="org-phone">{location_phone}</p>
	  		{/if}
	  		{if location_email}
	  			<p class="org-email">
	  			{location_email}
	    			{if name}{name}: {/if}{encode="{email}" title="{email}"}<br />
	  			{/location_email}
	  			</p>
	  		{/if}	   			
  			</div>
  			<div class="five columns">
  			{exp:ce_img:pair src="{location_logo}" width="300"}
  				<div class="location-logo">
						<img src="{made}" alt="" width="{width}" height="{height}" />
					</div>
				{/exp:ce_img:pair}
  			</div>
  		</div>  		
  		{location_google_map}	
  	{if location_gallery}
			<div id="gallery">
			{location_gallery}
				<div>
				  <img src="{image}" alt="{caption}" />
				  <p class="caption">{caption}</p>
				</div>
			{/location_gallery}
			</div>
		{/if}
		</div>
		
		<div id="sidebar" class="four columns">
			<div id="location-social" class="social-links">
			{if location_facebook}
  			<p><a href="http://{exp:parse_url parts="host|path|query|fragment"}{location_facebook}{/exp:parse_url}">{exp:parse_url parts="host|path|query|fragment"}{location_facebook}{/exp:parse_url}</a></p>
  		{/if}
  		{if location_twitter}
  			<p><a href="http://{exp:parse_url parts="host|path|query|fragment"}{location_twitter}{/exp:parse_url}">{exp:parse_url parts="host|path|query|fragment"}{location_twitter}{/exp:parse_url}</a></p>
  		{/if}
  		</div>
		{if location_hours}
			<h4 class="section-head sans">Hours</h4>
			{location_hours}
		{/if}
		{if location_box_office}
			<h4 class="section-head sans">Box Office Info</h4>
			{location_box_office}
		{/if}
		
			<div id="location-orgs">
				<h4 class="section-head sans">Partners at this location</h4>			
			{reverse_related_entries channel="partners" sort="desc" orderby="title"}
	      <p><a href="{url_title_path='partners'}">{title}</a></p>
	    {/reverse_related_entries}
	    </div>
	    
			<div id="location-events">
  			<h4 class="section-head sans">Upcoming Events</h4>
				<ul>
				{reverse_related_entries channel="calendar_events" sort="desc" orderby="date" limit="10" status="not closed"}
			    {embed="inc/.upcoming-events" event_id="{entry_id}"}
	      {/reverse_related_entries}
      	</ul>
  		</div>
			
  	</div>
    
  </div>
  
{/exp:channel:entries}

{embed="inc/.footer"}