	<ul>
	{exp:channel:categories channel="calendar_events" category_group="5" style="linear"}
    <li class="cat-fav 
  	{if segment_6 == 'category'}
  		{if segment_8 == category_id}active{/if}
  		{if segment_8 != category_id}inactive{/if}
    {/if}
    "><a class="round label"
    {if segment_2 == "all"}
    	href="{site_url}{segment_1}/{segment_2}/category/{category_url_title}/{category_id}"
    {if:elseif segment_3 == ""}
	    href="{site_url}{segment_1}/{segment_2}/{current_time format='%Y/%m/%d'}/category/{category_url_title}/{category_id}"
    {if:else}
	    href="{site_url}{segment_1}/{segment_2}/{segment_3}/{segment_4}/{segment_5}/category/{category_url_title}/{category_id}"
    {/if}
    >{if category_description}{category_description}{if:else}{category_name}{/if}</a></li>
	{/exp:channel:categories}
	{exp:channel:categories channel="calendar_events" category_group="1" style="linear"}
    <li class="cat-genre
  	{if segment_6 == 'category'}
  		{if segment_8 == category_id}active{/if}
  		{if segment_8 != category_id}inactive{/if}
    {/if}
    "><a class="round label"
    {if segment_2 == "all"}
    	href="{site_url}{segment_1}/{segment_2}/category/{category_url_title}/{category_id}"
    {if:elseif segment_3 == ""}
	    href="{site_url}{segment_1}/{segment_2}/{current_time format='%Y/%m/%d'}/category/{category_url_title}/{category_id}"
    {if:else}
	    href="{site_url}{segment_1}/{segment_2}/{segment_3}/{segment_4}/{segment_5}/category/{category_url_title}/{category_id}"
    {/if}
    >{category_name}</a></li>
	{/exp:channel:categories}		
	
		<li class="cat-clear
		{if segment_6 == 'category'}active{/if}
		{if segment_6 != 'category'}inactive{/if}
		">
	{if segment_2 == "all"}
		<a class="round label" href="{site_url}{segment_1}/{segment_2}/">Clear</a>
	{/if}
	{if segment_2 != "all"}
		<a class="round label" href="{site_url}{segment_1}/{segment_2}/{segment_3}/{segment_4}/{segment_5}">Clear</a>
	{/if}
		</li>
	</ul>
