{add_event}
<div>
	<h4><a href="{site_url}{segment_1}/{segment_2}/{segment_3}/{segment_4}/{segment_5}">All Events</a></h4>
</div>
<div id="calendar-picks">
	<h4 class="section-head sans">TeenTix Favorites</h4>
	{exp:channel:categories channel="calendar_events" category_group="5"}
    <a 
    {if segment_3 == ""}
    href="{site_url}{segment_1}/{segment_2}/{current_time format='%Y/%m/%d'}/category/{category_url_title}/{category_id}"
    {/if}
    {if segment_3 != ""}
    href="{site_url}{segment_1}/{segment_2}/{segment_3}/{segment_4}/{segment_5}/category/{category_url_title}/{category_id}"
    {/if}
    >{category_name}</a>
	{/exp:channel:categories}
</div><!-- end #calendar-genre -->

<div id="calendar-genre">
	<h4 class="section-head sans">Genres</h4>
	{exp:channel:categories channel="calendar_events" category_group="1"}
    <a 
    {if segment_3 == ""}
    href="{site_url}{segment_1}/{segment_2}/{current_time format='%Y/%m/%d'}/category/{category_url_title}/{category_id}"
    {/if}
    {if segment_3 != ""}
    href="{site_url}{segment_1}/{segment_2}/{segment_3}/{segment_4}/{segment_5}/category/{category_url_title}/{category_id}"
    {/if}
    >{category_name}</a>
	{/exp:channel:categories}		
</div><!-- end #calendar-genre -->
{!--
<div id="calendar-ticket-type">
	<h5 class="section-head sans">TeenTix Tickets</h4>
	{exp:channel:categories channel="calendar_events" category_group="2"}
    <a href="{path='calendar/all'}">{category_name}</a>
	{/exp:channel:categories}
</div><!-- end #calendar-ticket-type -->
--}