{embed="inc/.header"
	title="Calendar"
	body_class="calendar all"
	og_description="A calendar of upcoming TeenTix eligible events"
	canonical="{site_url}calendar/all"
}

{embed="inc/.nav"
	{if segment_3=="category"}
  	end_title="{exp:channel:category_heading channel="calendar_events"}{category_name}{/exp:channel:category_heading}"
	{/if}
	{if segment_3==""}
		end_title="All Events"
	{/if}	
}
    
  <div class="row">
  
    <div id="main" class="twelve columns">
    {embed="calendar/.calendar-nav"}
    	<div id="all_calendar">
    		<div class="header">
				  <div class="center">
				     <h4 class="slab">
				     {if segment_3=="category"}
				       {exp:channel:category_heading channel="calendar_events"}{category_name}{/exp:channel:category_heading} Events
						 {if:else}
							 All Events
				     {/if}
				     </h4>
				  </div>			  
				</div><!-- end .header -->
				
				<div class="row">
					<div id="sidebar" class="two columns">
				  	{embed="calendar/.sidebar"}
			    </div><!-- end #sidebar -->
			    <div class="nine columns">
			    	<div class="row">
						{exp:calendar:events 
							orderby="title" 
							sort="asc" 
							date_range_start="today" 
							show_weeks="4" 
							dynamic="off"
							category="{segment_4}"
							status="not closed"
						}
							{if no_results}<p>Sorry, there are no upcoming events.</p>{/if}
							
								<div class="three columns">
									<p class="event-date">
										{event_start_date format="%D %M %j, %Y"}{if event_recurs} &ndash;<br />{event_last_date format="%D %M %j, %Y"}{/if}
									</p>
									<p class="event-category">{categories backspace="3" show_group="1"}{category_name} | {/categories}</p>
								</div>
								<div class="nine columns">
								{if event_images}
							  	{event_images limit="1"}
							  	{exp:ce_img:pair src="{image}" width="140" height="100" crop="yes"}
									<a href="{url_title_path='calendar/event'}" class="event-image"><img src="{made}" alt="" width="{width}" height="{height}" /></a>
									{/exp:ce_img:pair}
									{/event_images}
							  {/if}
						  	
									<h3 class="event-name sans"><a href="{url_title_path='calendar/event'}">{event_title}</a></h3>		
									<p class="event-info">
									{related_entries id="event_venue"}
									  <a href="{url_title_path='venues'}">{title}</a>
								  {/related_entries}
									</p>
								</div>
							
							<hr />
						{/exp:calendar:events}   
						</div>
			    </div>
			    
				</div>
				
				
    	</div><!-- end #all_calendar -->  	
    	
    </div><!-- end #main -->
    
  </div>
  
{embed="inc/.footer"}