{exp:user:stats
	member_id="{embed:member_id}"
	dynamic="{embed:dynamic}"
}
<div id="member-profile">
	<div class="row">
		<div id="member-avatar" class="three columns">

  {exp:fbc:member_data
  	profile_pic_width="150"
  	profile_pic_type="normal"
  	member_id="{embed:member_id}"
  	profile_pic_linked="false"
  }
		{if avatar_filename}
	  	<img src="{avatar_url}{avatar_filename}" width="150" alt="{screen_name}" />
	  {if:elseif fbc_facebook_profile_pic}
      {fbc_facebook_profile_pic}
    {if:else}
    	<img src="{site_url}images/avatars/default.jpg" alt="Upload a profile image" />
    {/if}
	{/exp:fbc:member_data}
		</div>

		<div id="member-data" class="nine columns">
			<h4 id="member-screenname" class="sans">{screen_name}</h4>
			<div class="row">
				<div class="six columns">
					<p>
				{if group_id =="1"}
					TeenTix Administrator
				{/if}
				{if groupd_id == "6" || group_id == "7"}
					TeenTix Press Corps Member
				{/if}
				{if groupd_id == "5"}
					TeenTix Member
				{/if}
					<br />Member since {join_date format="%M %j, %Y"}</p>
				</div>
				<div class="six columns">
					<p>
						{if location}Location: {location}<br />{/if}
					{if url}
		  			Website: <a href="http://{exp:parse_url parts="host|path|query|fragment"}{url}{/exp:parse_url}">{exp:parse_url parts="host|path|query|fragment"}{url}{/exp:parse_url}</a>
		  		{/if}
					</p>
					<div class="social-icons">
					{if facebook}
		  			<a href="http://{exp:parse_url parts="host|path|query|fragment"}{facebook}{/exp:parse_url}"><img src="{site_url}css/images/social/fb_1.png" alt="" title="{facebook}" /></a>
		  		{/if}
		  		{if twitter}
		  			<a href="http://{exp:parse_url parts="host|path|query|fragment"}{twitter}{/exp:parse_url}"><img src="{site_url}css/images/social/twitter_1.png" alt="" title="{twitter}" /></a>
		  		{/if}
		  		{if tumblr}
		  			<a href="http://{exp:parse_url parts="host|path|query|fragment"}{tumblr}{/exp:parse_url}"><img src="{site_url}css/images/social/tumblr.png" alt="" title="{tumblr}" /></a>
		  		{/if}
		  		{if pinterest}
		  			<a href="http://{exp:parse_url parts="host|path|query|fragment"}{pinterest}{/exp:parse_url}"><img src="{site_url}css/images/social/pinterest.png" alt="" title="{pinterest}" /></a>
		  		{/if}
					</div>
				</div>
			</div>
			{if bio}
			<div class="row">
				<div class="twelve columns">
					{bio}
				</div>
			</div>
			{/if}
		</div>
	</div>
</div><!-- end #member-profile -->
{/exp:user:stats}
