{if segment_2==""}
	{redirect="account"}
{/if}
{exp:user:stats
 member_id="{segment_2}"
} 
{embed="inc/.header"
  body_class="account home member"
  title="{screen_name} | Member"
}
{embed="inc/.nav"
	end_title="{screen_name}"
}  

  <div class="row">
    <div class="twelve columns">
      <h1 id="page-name">TeenTix Member</h1>
    </div>
  </div>

  <div class="row">  
    
    
    <div id="main" class="nine columns">
     
     
 
			<div id="member_profile" class="section">
				<div class="row">
					<div class="three columns">
					{if avatar_filename}
						<img src="{avatar_url}{avatar_filename}" width="150" alt="{screen_name}'s photo" />
					{if:else}
						<img src="{site_url}images/avatars/default.jpg" alt="Upload a profile image" />
					{/if}
					</div>
					<div class="nine columns">
						<h4 class="sans">{screen_name}</h4>
						<p>
							{if location}Location: {location}<br />{/if}
							{if url}Website: <a href="{url}">{url}</a><br />{/if}
							{if facebook}Facebook: <a href="{facebook}">facebook</a><br />{/if}
							{if twitter}Twitter: <a href="{twitter}">twitter</a><br />{/if}
						</p>
					</div>
				</div>				
			</div><!-- end #member_profile -->
			
			<div id="member_comments" class="section">
				<h3 class="section-head sans">Articles</h3>			
				{exp:channel:entries 
					dynamic="no" 
					author_id="{segment_2}" 
					limit="5"
				}
				<div class="comment">
					<p class="posted">Posted on {entry_date format="%D, %M %j, %Y"}</p>
	        <h3 class="sans"><a href="{url_title_path}">{title}</a></h3>
	        
        </div>
        {paginate}
{!--         <p class="view-all"><a href="{path='account/comments'}">View all comments &raquo;</a></p> --}
		    {/paginate}
				{/exp:channel:entries}

			</div><!-- end #member_comments -->
			
			
			
			<div id="member_comments" class="section">
				<h3 class="section-head sans">Comments</h3>			
			{if total_comments > 0}
				<p class="total-count">{total_comments} total comments</p>
				{exp:comment:entries 
					dynamic="no" 
					author_id="{segment_2}" 
					limit="5"
				}
				<div class="comment">
	        <p class="posted">Comment for <a href="{comment_url_title_auto_path}">{title}</a> on {comment_date format="%D, %M %j, %Y at %g:%i %a"}</p>
        	{comment}
        </div>
        {paginate}
        <p class="view-all"><a href="{path='account/comments'}">View all comments &raquo;</a></p>
		    {/paginate}
				{/exp:comment:entries}
			{if:else}
				<p>You have not left any comments</p>
			{/if}
			</div><!-- end #member_comments -->
			
			 
			{if user_no_results}{redirect="account"}{/if}
		</div>	
		
		<div id="sidebar" class="three columns">
		&nbsp;
    </div>		   
  </div>

{/exp:user:stats}  
{embed="inc/.footer"}