{if segment_2==""}
	{redirect="account"}
{/if}
{exp:user:stats
 member_id="{segment_2}"
} 
{embed="inc/.header"
  body_class="member"
  title="{screen_name} | Member"
}
{embed="inc/.nav"
	end_title="{screen_name}"
}  

  <div class="row">
    <div class="twelve columns">
      <h1 id="page-name">TeenTix Member</h1>
    </div>
  </div>

  <div class="row">  
    
    <div id="main" class="nine columns">
      
			{embed="member/.member-profile" member_id="{segment_2}"}
						
		{if group_id != "5"}		
			{embed="member/.member-articles"}
		{/if}
			
			{embed="member/.member-comments"}		
			 
			{if user_no_results}{redirect="account"}{/if}
		</div>	
		
		<div id="sidebar" class="three columns">
		&nbsp;
    </div>		   
  </div>

{/exp:user:stats}  
{embed="inc/.footer"}