{embed="inc/.header"
	title="Participating Organizations"
	body_class="orgs"
}

{embed="inc/.nav"
	segment_1_title="Participating Organizations"
}

  <div class="row">
  	<div class="twelve columns">
      <h1 id="page-name">Participating Organizations</h1>
    </div>
    <div class="twelve columns">
	  	<ul id="org-grid" class="block-grid five-up">
	    {exp:channel:entries channel="organizations" limit="200" orderby="title" sort="asc"}
	    	<li class="org">
	    		<div class="org-logo">
		  			<a href="{url_title_path='organizations'}">
		  			{exp:ce_img:pair src="{org_image}" width="150" height="150" filter="grayscale"}
						<img src="{made}" alt="" width="{width}" height="{height}" />
						{/exp:ce_img:pair}
						</a>
					</div>
					<h4 class="org-name"><a href="{url_title_path='organizations'}">{title}</a></h4>
	    	</li>
			{/exp:channel:entries}	      	
	    </ul>
    </div>
  </div>
  
{embed="inc/.footer"}