{exp:channel:entries channel="partners" limit="1"}
{embed="inc/.header"
	title="{title} | Partner Organizations"
	body_class="orgs single"
}

{embed="inc/.nav"
	segment_1_title="Partner Organizations"
	end_title="{title}"
}
  
  <div class="row">
		
		<div id="main" class="eight columns">		
  		<div class="row">
  				
  			<div class="eight columns">
  				<h1 id="page-name">{title}</h1>
					<div id="org-contact">
					{if org_website}					
		  			<p class="org-website"><a href="http://{exp:parse_url parts="host|path|query|fragment"}{org_website}{/exp:parse_url}">{exp:parse_url parts="host|path|query|fragment"}{org_website}{/exp:parse_url}</a></p>
		  		{/if}
		  		{if org_address}
		  			<p class="org-address">{org_address}</p>
		  		{/if}
		  		{if org_phone}
		  			<p class="org-phone">{org_phone}</p>
		  		{/if}
		  		{if org_email}
		  			<p class="org-email">
		  			{org_email}
		    			{if name}{name}: {/if}{encode="{email}" title="{email}"}<br />
		  			{/org_email}
		  			</p>
		  		{/if}			
		  		</div>
		  	</div>
		  	<div class="four columns">
  			{exp:ce_img:pair src="{org_image}" width="220" height="220" filter="grayscale"}
					<div id="org-logo">
						<img src="{made}" alt="" width="{width}" height="{height}" />
					</div>
				{/exp:ce_img:pair}
				</div>
			</div>
			<div id="org-description">
				{org_description}	
			</div>
		</div>
		   		
		<div id="sidebar" class="four columns">
		{edit_this}
		{if org_facebook OR org_twitter OR org_youtube OR org_flickr}
			<div id="org-social" class="social-icons">
				<h4 class="section-head sans">Social Links</h4>
			{if org_facebook}
  			<a href="http://{exp:parse_url parts="host|path|query|fragment"}{org_facebook}{/exp:parse_url}"><img src="{site_url}css/images/social/fb_1.png" alt="" title="{org_facebook}" /></a>
  		{/if}
  		{if org_twitter}
  			<a href="http://{exp:parse_url parts="host|path|query|fragment"}{org_twitter}{/exp:parse_url}"><img src="{site_url}css/images/social/twitter_1.png" alt="" title="{org_twitter}" /></a>
  		{/if}
  		{if org_youtube}
  			<a href="http://{exp:parse_url parts="host|path|query|fragment"}{org_youtube}{/exp:parse_url}"><img src="{site_url}css/images/social/you_tube.png" alt="" title="{org_youtube}" /></a>
  		{/if}
  		{if org_flickr}
  			<a href="http://{exp:parse_url parts="host|path|query|fragment"}{org_flickr}{/exp:parse_url}"><img src="{site_url}css/images/social/flickr.png" alt="" title="{org_flickr}" /></a>
  		{/if}
  		</div>
  	{/if}
  	{if org_locations}	    			
			{embed="partners/.locations" entry_id="{org_locations}"}	    		
  	{/if}
  	{if org_box_office}
			<h4 class="section-head sans">Box Office Info</h4>
			{org_box_office}
		{/if}
  	
  		<div id="org-events">
  			<h4 class="section-head sans">Upcoming Events</h4>
  			<ul>
				{reverse_related_entries channel="calendar_events" sort="desc" orderby="date" limit="10" status="not closed"}
			    {embed="inc/.upcoming-events" event_id="{entry_id}"}
			    {if no_reverse_related_entries}
		      <li>No upcoming events at this time</li>
		      {/if}
	      {/reverse_related_entries}
      	</ul>
  		</div>
		</div>
    
  </div>
  
{/exp:channel:entries}

{embed="inc/.footer"}