		</div><!-- end .row -->	
  </div><!-- end #main-content -->  	

  <!-- Footer -->
  <div id="footer">
	  <footer class="row">
	    <div class="twelve columns">
	      <p>&copy; {site_name}</p>
	    </div> 
	  </footer>
  </div><!-- end #footer -->

  <!-- Included JS Files (Compressed) -->
  <script src="{site_url}js/jquery.js"></script>
  <script src="{site_url}js/foundation.min.js"></script>
  <script src="{site_url}js/jquery.validate.js"></script>
	<script src="{site_url}js/jquery.cycle.all.js"></script>
	
  <!-- Initialize JS Plugins -->
  <script src="{site_url}js/scripts.js?1"></script>

</body>
</html>