{if logged_out}{redirect="sign-up"}{/if}
{embed="applications/.inc_header"}	    
	    
	    <div id="main" class="eight columns">
	    {exp:freeform:entries
		    form_name="pass_application"
		    entry_id="{segment_3}" 
		    status="not closed"
			}
			
				<fieldset id="app_info">
	        <legend>Applicant Info</legend>
	        
	        <div class="row">
	          <div class="three columns">
	            First Name
	          </div>
	          <div class="nine columns">
	          	{freeform:field:first_name} {freeform:field:middle_initial} {freeform:field:last_name}
	          </div>
	        </div>
	        <hr />
	        <div class="row">
	          <div class="three columns">
	            Phone Number
	          </div>
	          <div class="nine columns">
	          	{freeform:field:phone1}
	          </div>
	        </div>
	        <hr />
	        <div class="row">
	          <div class="three columns">
	            Birthdate
	          </div>
	          <div class="nine columns">
	          	{freeform:field:birth_month}-{freeform:field:birth_day}-{freeform:field:birth_year}
	          </div>
	        </div>
	        <hr />
	        <div class="row">
	          <div class="three columns">
	            School
	          </div>
	          <div class="nine columns">
	          	{freeform:field:school}
	          </div>
	        </div>
	        <hr />
	        <div class="row">
	          <div class="three columns">
	            Interests
	          </div>
	          <div class="nine columns">
	          	{freeform:field:interests}
	          </div>
	        </div>
	        <hr />
	        <div class="row">
	          <div class="three columns">
	            Email
	          </div>
	          <div class="nine columns">
	          	<a href="mailto:{freeform:field:email}">{freeform:field:email}</a>
	          </div>
	        </div>
	        <hr />
	        <div class="row">
	          <div class="three columns">
	            Newsletter Signup
	          </div>
	          <div class="nine columns">
	          	{freeform:field:newsletter}
	          </div>
	        </div>
	        <hr />
	        <div class="row">
	          <div class="three columns">
	            Street Address
	          </div>
	          <div class="nine columns">
	          	{freeform:field:street1}
	          </div>
	        </div>
	        <hr />
	        <div class="row">
	          <div class="three columns">
	            City
	          </div>
	          <div class="nine columns">
	          	{freeform:field:city}
	          </div>
	        </div>
	        <hr />
	        <div class="row">
	          <div class="three columns">
	            State
	          </div>
	          <div class="nine columns">
	          	{freeform:field:state}
	          </div>
	        </div>
	        <hr />
	        <div class="row">
	          <div class="three columns">
	            Zip Code
	          </div>
	          <div class="nine columns">
	          	{freeform:field:zip_code}
	          </div>
	        </div>
	        <hr />
	        <div class="row">
	          <div class="three columns">
	            Country
	          </div>
	          <div class="nine columns">
	          	{freeform:field:country}
	          </div>
	        </div>
	        <hr />
	        <div class="row">
	          <div class="three columns">
	            Member Type
	          </div>
	          <div class="nine columns">
	          	{freeform:field:member_type}
	          </div>
	        </div>
	        <hr />
	        <div class="row">
	          <div class="three columns">
	            Hear About
	          </div>
	          <div class="nine columns">
	          	{freeform:field:hear_about}
	          </div>
	        </div>
	        <hr />
	        <div class="row">
	          <div class="three columns">
	            Referrer
	          </div>
	          <div class="nine columns">
	          	{freeform:field:referrer}
	          </div>
	        </div>
	        <hr />
					<h4><a href="{cp_url}?S=0&D=cp&C=addons_modules&M=show_module_cp&module=freeform&method=edit_entry&form_id={freeform:form_id}&entry_id={freeform:entry_id}" target="_blank" class="button">Edit application</a></h4>
	      </fieldset>
	      
	      
	    </div>
    {if freeform:field:newsletter == "yes"}
			{embed="inc/.mailchimp" entry_id="{segment_3}"}
		{/if}
	  	{/exp:freeform:entries}
	  </div>
		
  </div><!-- end #main-content -->  	
	
{embed="application/inc_footer"}