{exp:channel:entries entry_id="{embed:entry_id}" dynamic="no"}
  <div class="adspace ad-1000x50">
    <a href="{banner_link}" target="_blank" onClick="ga('send', 'event', 'banner', 'click','{banner_advertiser_name}: {title} ({embed:zone})',1.00, {'nonInteraction': 1});">
      <img src="{banner_artwork_1000x50}" alt="" onload="ga('send', 'event', 'banner', 'impression','{banner_advertiser_name}: {title} ({embed:zone} pencil)',2.00, {'nonInteraction': 1});" >
    </a>
    <p class="adspace-copy"><a href="{banner_link}?referrer=teentix&location=location" target="_blank" onClick="ga('send', 'event', 'text', 'click','{banner_advertiser_name}: {title} ({embed:zone} pencil)',1.00, {'nonInteraction': 1});">Sponsored by {banner_advertiser_name}</a></p>
  </div>
{/exp:channel:entries}
