{exp:channel:entries entry_id="{embed:entry_id}" dynamic="no"}
<div class="adspace {if embed:border == "true"}adspace-border{/if}">
  <a href="{banner_link}" target="_blank" onClick="ga('send', 'event', 'banner', 'click','{banner_advertiser_name}: {title} ({embed:zone})',1.00, {'nonInteraction': 1});">
  {if embed:zone == "blog"}
    {if banner_artwork_300x600}
      <img src="{banner_artwork_300x600}" alt="" onload="ga('send', 'event', 'banner', 'impression','{banner_advertiser_name}: {title} ({embed:zone} large)',2.00, {'nonInteraction': 1});" >
    {if:else}
      <img src="{banner_artwork_300x250}" alt="" onload="ga('send', 'event', 'banner', 'impression','{banner_advertiser_name}: {title} ({embed:zone} square)',2.00, {'nonInteraction': 1});" >
    {/if}
  {/if}
  {if embed:zone != "blog"}
    <img src="{banner_artwork_300x250}" alt="" onload="ga('send', 'event', 'banner', 'impression','{banner_advertiser_name}: {title} ({embed:zone} square)',2.00, {'nonInteraction': 1});" >
  {/if}
  </a>
</div>
<p class="adspace-copy"><a href="{banner_link}?referrer=teentix&location=location" target="_blank" onClick="ga('send', 'event', 'text', 'click','{banner_advertiser_name}: {title} ({embed:zone})',1.00, {'nonInteraction': 1});">Sponsored by {banner_advertiser_name}</a></p>
{/exp:channel:entries}

