<div id="comments">
	<h3>Comments <span class="comment-count sans">({embed:comment_total})</span></h3>
{exp:comment:entries sort="asc" limit="20"}
    {exp:fbc:member_data profile_pic_size="square" member_id="{author_id}" profile_pic_linked="false"}

	<div class="comment-entry clearfix">
	  <a href="{path='member'}/{author_id}" class="comment-author-avatar" >
	  {if avatar}
	  	<img src="{avatar_url}" alt="" />
	  {if:elseif fbc_facebook_profile_pic}
      {fbc_facebook_profile_pic}
    {if:else}
    	<img src="{site_url}images/avatars/default.jpg" alt="" />
    {/if}
    </a>
	  {comment}
	</div>
  <p class="comment-author">By 
  	<a href="{path='member'}/{author_id}">
	  	{author}
	  </a> on {comment_date format="%F %j, %Y"} at {comment_date format="%g:%i %a"}</p>
  {/exp:fbc:member_data}
   
  
{/exp:comment:entries}
</div>

{if logged_out}
  <p><a href="#" data-reveal-id="login-modal" data-animation="fade">Login to leave a comment</a></a></p>
{/if}
{if logged_in}
<div id="comment-form">
{exp:comment:form channel="{embed:channel}"}

  <h3 class="sans">Leave a Comment:</h3>
  <textarea name="comment" cols="70" rows="10">{comment}</textarea>
  <label><input type="checkbox" name="notify_me" value="yes" {notify_me} /> Notify me of follow-up comments?</label><br />
  <input class="button small" type="submit" name="submit" value="Submit" />

{/exp:comment:form}
</div>
{/if}
