  </div><!-- end #main-content -->

  <!-- Footer -->
  <div id="footer">
	  <footer class="row">
	    <div class="twelve columns">
	      <div class="row">
	        <div class="seven columns">
	        	<div id="footer-about">
	        		<img src="{site_url}css/images/site/teentix-logo-footer.png" />
	        		{footer_about_teentix}
	        		<p class="centered">
                <a class="button large yellow" href="https://secureform.cloud.clickandpledge.com/18045/1/?WID=65598" target="_blank">Donate to TeenTix</a>
              </p>
	        	</div>
	        	<div id="footer-copyright">
		          <p>&copy; {current_time format="%Y"} {footer_copyright}</p>
	          </div>
	        </div>
	        <div id="footer-links" class="five columns">
	        	<div id="footer-utility-nav">
	        		<h5 class="section-head sans">Important Places</h5>
	        		<div class="row">
	        			<div class="six columns">
		        			<ul class="">
				          {if logged_in}
				          	<li><a href="{path='account'}">My Account</a></li>
				          	<li><a href="{path='logout'}">Logout</a></li>
				          {/if}
				          {if logged_out}
				            <li><a href="{path='account/login'}">Log in</a></li>
				            <li><a href="{site_url}account/new">Create an Account</a></li>
				            <li><a href="{path='account/password'}">Reset Your Password</a></li>
				          {/if}
				            <li><a href="{path='sign-up/application'}">Get Your Pass</a></li>
				            <li><a href="{path='pass/replace'}">Replace Your Pass</a></li>
				            <li><a href="{path='newsletter'}">Newsletter Sign Up</a></li>
				          </ul>
	        			</div>
	        			<div class="six columns">
	        				<ul class="">

				            <li><a href="{path='calendar'}">Calendar</a></li>
				            <li><a href="{path='locations'}">Locations</a></li>
				            <li><a href="{path='partners'}">Partners</a></li>
				            <li><a href="{path='how-to'}">How It Works</a></li>

				          </ul>

	        			</div>
	        		</div>
	          </div>
	          <div class="row">
	          	<div class="six columns">
		          	<div id="footer-social">
			        		<h5 class="section-head sans">Social Links</h5>
				        	<ul class="social-links">
				        	{exp:low_variables:pair var="footer_social_links"}
									  <li><a href="{url}" target="_blank">{link}</a></li>
									{/exp:low_variables:pair}
				          </ul>
			        	</div>
	          	</div>
	          	<div class="six columns">
		          	<div id="footer-contact">
			        		<h5 class="section-head sans">Contact Info</h5>
			        		{footer_contact}
			        	</div>
	          	</div>

	          </div>
	        </div>
	      </div>
	    </div>
	  </footer>
  </div><!-- end #footer -->
  <div id="credits">
  	<div id="credit-bluebar">&nbsp;</div>
  	<div class="row">
  		<div class="twelve columns">
  			<div id="footer-logos">
  				<img src="{site_url}css/images/logos/grey-boeing.png" style="height: 40px;" />
  				<img src="{site_url}css/images/logos/color-artsWA.png" style="height: 56px;" />
  				<img src="{site_url}css/images/logos/color-AC.png" style="height: 65px;" />


  				<img src="{site_url}css/images/logos/color-4culture.jpg" style="height: 55px;" />

					<a href="http://sleepop.com" target="_blank" id="so-logo">Site by <img src="{site_url}css/images/logos/color-sleepop-logo.png"  style="height: 24px;" /></a>
  			</div>
  			<div id="sc-logo">
  			  <img src="{site_url}css/images/logos/color-seattleCenter-logo.png"  style="height: 48px;"/>
  			  <p>Founded as a program of Seattle Center in 2004</p>
  			</div>
  		</div>
  	</div>
  </div>

{if embed:include_login == "true"}
  <div id="login-modal" class="reveal-modal medium">
	  <div id="fb-modal-login">{embed="inc/.fbc_login" size="large"}</div>
    <div id="modal-login">

    {exp:member:login_form return="{exp:currentlee type='url'}"}
      <label for="username">Email Address:</label>
      <input type="text" name="username" class="required" />
      <label for="password">Password:</label>
      <input type="password" name="password" class="required" />
      <input type="submit" name="submit" value="Submit" class="submit button small" />
    {/exp:member:login_form}

    </div>
    <p><a href="{site_url}account/new">Create an account</a> | <a href="{path='account/password'}">Reset your password</a></p>
	</div>
{/if}

  <!-- Included JS Files (Compressed) -->
  <script src="{site_url}js/jquery.js"></script>
  <script src="{site_url}js/foundation.min.js"></script>
  <script src="{site_url}js/jquery.validate.js"></script>
	<script src="{site_url}js/jquery.cycle.all.js"></script>

  <!-- Initialize JS Plugins -->
  <script src="{site_url}js/scripts.js?1"></script>

	{exp:fbc:prepare_page}

</body>
</html>