  </div><!-- end #main-content -->  
  
  <!-- Footer -->
  <div id="footer">
	  <footer class="row">
	    <div class="twelve columns">
	      <div class="row">
	        <div class="six columns">
	        	<div id="footer-about">
	        		<p>A bit more about us .... amet, consectetur adipiscing elit. Sed ornare, diam vel hendrerit tristique, sem odio posuere nunc, sed sollicitudin diam metus ut metus. Fusce non arcu at felis aliquam rhoncus pretium sed odio. Integer dolor enim, sodales nec tristique ut, blandit sed sem.</p>
	        	</div>
	        	<div id="footer-copyright">
		          <p>&copy; Copyright no one at all. Go to town.</p>
	          </div>
	        </div>
	        <div class="two columns">
	        	&nbsp;
	        </div>
	        <div class="two columns">
	        	<div id="footer-utility-nav">
	        		<h5 class="footer-header">Important Places</h5>
		          <ul class="">
		            <li><a href="{path='application'}">Get Your Pass</a></li>
		            <li><a href="{path='pass/replace'}">Replace Your Pass</a></li>
		            <li><a href="{path='newsletter'}">Newsletter Sign Up</a></li>
		            <li><a href="{path='calendar'}">Calendar</a></li>
		            <li><a href="{path='how-to'}">How It Works</a></li>
		            <li class="spacer"></li>
		          {if logged_in}
		          	<li><a href="{path='account'}">My Account</a></li>
		          	<li><a href="{path='logout'}">Logout</a></li>
		          {/if}
		          {if logged_out}
		            <li><a href="{path='account/login'}">Log in</a></li>
		            <li><a href="{site_url}account/new">Create an Account</a></li>
		            <li><a href="{path='account/password'}">Reset Your Password</a></li>
		          {/if}
		            
		          </ul>
	          </div>
	        </div>
	        <div class="two columns">
	        	<div id="footer-contact">
	        		<h5 class="footer-header">Contact Info</h5>
	        		<p>General Information:<br />
								{encode="info@teentix.org"}<br />
								206.233.3959
							</p>
							<p><a href="{site_url}contact">Contact Us</a></p>
	        	</div>
	        	<div id="footer-social">
	        		<h5 class="footer-header">Social Links</h5>
		        	<ul class="">
		            <li><a href="#">Facebook</a></li>
		            <li><a href="#">Twitter</a></li>
		            <li><a href="#">Flickr</a></li>
		            <li><a href="#">Tumblr</a></li>
		            <li><a href="#">YouTube</a></li>
		          </ul>
	        	</div>
	          
	        </div>
	      </div>
	    </div> 
	  </footer>
  </div><!-- end #footer -->
  <div id="credits">
  	<div class="row">
  		<div class="twelve columns">logos</div>
  	</div>
  </div>
  
  <!-- Included JS Files (Uncompressed) -->
  <!--
  
  <script src="{site_url}js/jquery.js"></script>
  
  <script src="{site_url}js/jquery.foundation.mediaQueryToggle.js"></script>
  
  <script src="{site_url}js/jquery.foundation.forms.js"></script>
  
  <script src="{site_url}js/jquery.foundation.reveal.js"></script>
  
  <script src="{site_url}js/jquery.foundation.orbit.js"></script>
  
  <script src="{site_url}js/jquery.foundation.navigation.js"></script>
  
  <script src="{site_url}js/jquery.foundation.buttons.js"></script>
  
  <script src="{site_url}js/jquery.foundation.tabs.js"></script>
  
  <script src="{site_url}js/jquery.foundation.tooltips.js"></script>
  
  <script src="{site_url}js/jquery.foundation.accordion.js"></script>
  
  <script src="{site_url}js/jquery.placeholder.js"></script>
  
  <script src="{site_url}js/jquery.foundation.alerts.js"></script>
  
  <script src="{site_url}js/jquery.foundation.topbar.js"></script>
  
  -->
  
  <!-- Included JS Files (Compressed) -->
  <script src="{site_url}js/jquery.js"></script>
  <script src="{site_url}js/foundation.min.js"></script>
  <script src="{site_url}js/jquery.validate.js"></script>
	<script src="{site_url}js/jquery.cycle.all.js"></script>
	
  <!-- Initialize JS Plugins -->
  <script src="{site_url}js/scripts.js"></script>
  
  

  <script type="text/javascript">
     $(window).load(function() {
         $('#slider').orbit();
     });
  </script>
  
</body>
</html>