  </div><!-- end #main-content -->  	
	
  <!-- Footer -->
  <div id="footer">
	  <footer class="row">
	    <div class="twelve columns">
	      <div class="row">
	        <div class="seven columns">
	        	<div id="footer-about">
	        		<img src="{site_url}css/images/site/teentix-logo-footer.png" />
	        		{footer_about_teentix}
	        	</div>
	        	<div id="footer-copyright">
		          <p>&copy; Copyright no one at all. Go to town.</p>
	          </div>
	        </div>
	        <div id="footer-links" class="five columns">
	        	<div id="footer-utility-nav">
	        		<h5 class="section-head sans">Important Places</h5>
	        		<div class="row">
	        			<div class="six columns">
		        			<ul class="">
				            
				            <li><a href="{path='calendar'}">Calendar</a></li>
				            <li><a href="{path='locations'}">Locations</a></li>
				            <li><a href="{path='partners'}">Partners</a></li>
				            <li><a href="{path='how-to'}">How It Works</a></li>
				            
				          </ul>
	        			</div>
	        			<div class="six columns">
	        				<ul class="">
				          {if logged_in}
				          	<li><a href="{path='account'}">My Account</a></li>
				          	<li><a href="{path='logout'}">Logout</a></li>
				          {/if}
				          {if logged_out}
				            <li><a href="{path='account/login'}">Log in</a></li>
				            <li><a href="{site_url}account/new">Create an Account</a></li>
				            <li><a href="{path='account/password'}">Reset Your Password</a></li>
				          {/if}
				            <li><a href="{path='application'}">Get Your Pass</a></li>
				            <li><a href="{path='pass/replace'}">Replace Your Pass</a></li>
				            <li><a href="{path='newsletter'}">Newsletter Sign Up</a></li>
				          </ul>
	        			</div>
	        		</div>
	          </div>
	          <div class="row">
	          	<div class="six columns">
		          	<div id="footer-social">
			        		<h5 class="section-head sans">Social Links</h5>
				        	<ul class="">
				            <li><a href="#">Facebook</a></li>
				            <li><a href="#">Twitter</a></li>
				            <li><a href="#">Flickr</a></li>
				            <li><a href="#">Tumblr</a></li>
				            <li><a href="#">YouTube</a></li>
				          </ul>
			        	</div>
	          	</div>
	          	<div class="six columns">
		          	<div id="footer-contact">
			        		<h5 class="section-head sans">Contact Info</h5>
			        		<p>
										{encode="info@teentix.org"}<br />
										206.233.3959<br />
										<a href="{site_url}contact">Contact Us</a>
									</p>
			        	</div>
	          	</div>
	          	
	          </div>
	        </div>
	      </div>
	    </div> 
	  </footer>
  </div><!-- end #footer -->
  <div id="credits">
  	<div class="row">
  		<div class="eight columns">
  			<p>Merci Beaucoup
  			<a href="" target="_blank"><img src="{site_url}css/images/fpo-logo.png" /></a>
  			<a href="" target="_blank"><img src="{site_url}css/images/fpo-logo.png" /></a>
  			<a href="" target="_blank"><img src="{site_url}css/images/fpo-logo.png" /></a>
  			</p>
  		</div>
  		<div class="four columns">
  			<p>Site Design
  			<a href="http://sleepop.com" target="_blank"><img src="{site_url}css/images/site/sleepop-logo.png" /></a>
  			</p>
  		</div>
  	</div>
  </div>
  
{if embed:include_login == "true"} 
  <div id="login-modal" class="reveal-modal medium">
	  <div id="fb-modal-login">{embed="inc/.fbc_login" size="large"}</div>
    <div id="modal-login">
  
    {exp:member:login_form return="{exp:currentlee type='url'}"}
      <label for="username">Email Address:</label>
      <input type="text" name="username" class="required" />
      <label for="password">Password:</label>
      <input type="password" name="password" class="required" />
      <input type="submit" name="submit" value="Submit" class="submit button small" />
    {/exp:member:login_form}
    
    </div>
    <p><a href="{site_url}account/new">Create an account</a> | <a href="{path='account/password'}">Reset your password</a></p>
	</div>
{/if}

  <!-- Included JS Files (Compressed) -->
  <script src="{site_url}js/jquery.js"></script>
  <script src="{site_url}js/foundation.min.js"></script>
  <script src="{site_url}js/jquery.validate.js"></script>
	<script src="{site_url}js/jquery.cycle.all.js"></script>
	
  <!-- Initialize JS Plugins -->
  <script src="{site_url}js/scripts.js"></script>

	{exp:fbc:prepare_page} 
  
</body>
</html>