  <!-- Header and Nav -->
  
  <div class="row">
    <div class="three columns">
      <h1><img src="http://placehold.it/400x100&text=Logo" /></h1>
    </div>
    <div class="nine columns">
      <ul class="nav-bar right">
      {if logged_out}
        <li class="has-flyout">
          <a href="#">Login</a>
          <div class="flyout" id="nav-bar-login">
          
          {exp:member:login_form return="{exp:currentlee}"}
            <label for="username">Email Address:</label>
            <input type="text" name="username" class="required" />
            <label for="password">Password:</label>
            <input type="password" name="password" class="required" />
            <p><input type="submit" name="submit" value="Submit" /></p>
          {/exp:member:login_form}
            <p>
              <a href="{site_url}account/new">Create an account</a><br />
              <a href="{path='account/password'}">Reset your password</a>
            </p>  
          </div>
        </li>
      {/if}
      {if logged_in}
        <li><a href="{path='account'}">{username}</a></li>
        <li><a href="{path='logout'}">Logout</a></li>
      {/if}
        <li><a href="{path ='application'}">Apply for a pass</a></li>
        
      </ul>
    </div>
  </div>
  
  <!-- End Header and Nav -->