  <!-- Header and Nav -->
  
  <div class="row">
    <div class="three columns">
      <h1><img src="http://placehold.it/400x100&text=Logo" /></h1>
    </div>
    <div class="nine columns">
      <ul class="nav-bar right">
        <li class="has-flyout">
          <a href="#">Login</a>
          <div class="flyout" id="nav-bar-login">
          {exp:member:login_form return=""}
            <p>Email Address: <input type="text" name="username" /></p>
            <p>Password: <input type="password" name="password" /></p>
            <p><input type="submit" name="submit" value="Submit" /></p>
          {/exp:member:login_form}
            <p><a href="{site_url}account/new">Create an account</a></p>  
          </div>
        </li>
        <li><a href="{site_url}application">Apply for a pass</a></li>
        
      </ul>
    </div>
  </div>
  
  <!-- End Header and Nav -->