	<div id="utility-nav">
		<nav class="top-bar contain-to-grid">
		  <ul>
		  	<li id="join-mailing-list" class="slab">Want updates and specials? <a href="{site_url}newsletter">Join our mailing list!</a></li>
		    <li class="toggle-topbar"><a href="#"></a></li>
		  </ul>
		  <section>
		
		    <ul class="right">
		    	<li>
			  		<div id="utility-search" class="search-form">
		  			{exp:search:simple_form channel="news"}
	            <input type="text" name="keywords" id="keywords" value="" placeholder="Search TeenTix" size="18" maxlength="100">
	            <input type="submit" value="" class="submit">
						{/exp:search:simple_form}
			  		</div>
			  	</li>
		    {if logged_out}
	        <li class="has-dropdown">
	          <a href="{path='account/login'}">Login</a>
	          <ul class="dropdown">
			        <li id="nav-bar-login">
			          
		          {exp:member:login_form return="{exp:currentlee type='url'}"}
		            <label for="username">Email Address:</label>
		            <input type="text" name="username" class="required" />
		            <label for="password">Password:</label>
		            <input type="password" name="password" class="required" />
		            <input type="submit" name="submit" value="Submit" class="submit button small" />
		          {/exp:member:login_form}
		              
			        </li>
			        <li><a href="{site_url}account/new">Create an account</a></li>
							<li><a href="{path='account/password'}">Reset your password</a></li>
			      </ul>
	          
	        </li>
	      {/if}
	      {if logged_in}
	        <li><a href="{path='account'}">Welcome {screen_name}!</a></li>
	        <li class="right"><a href="{path='logout'}">Logout</a></li>
	      {/if}
		    </ul>
		  </section>
		</nav><!-- end .top-bar -->

	</div><!-- end #utility-nav -->
	
  <!-- Header and Nav -->
  <div id="header">
	  <div class="row">
	    <div class="twelve columns">
	    	<div id="how-to-graphic">
		      <h1 id="logo"><a href="{site_url}"><img src="{site_url}css/images/site/teentix-logo.png" /></a></h1>
		      <div id="get-pass"><a href="{path='application'}">Get Your Pass</a></div>
		      <div id="get-info"><a href="{path='how-to'}">More Info</a></div>
					
				</div>
	    </div>
	  </div>
  </div><!-- end #header -->
  
  <div id="top-nav">
	  <div class="row">
	  	<div class="twelve columns">
		  	<ul id="main-nav" class="nav-bar slab">
		      <li {if segment_1==''}class='active'{/if}><a href="{site_url}">Home</a></li>
		      <li {if segment_1=='calendar'}class='active'{/if}><a href="{path='calendar'}">Calendar</a></li>
		      <li {if segment_1=='blog'}class='active'{/if}><a href="{path='blog'}">Blog</a></li>
		      <li {if segment_1=='partners'}class='active'{/if}><a href="{path='partners'}">Partners</a></li>
		      <li {if segment_1=='locations'}class='active'{/if}><a href="{path='locations'}">Locations</a></li>
		      <li class="{if segment_1=='about'}active {/if}has-flyout">
				    <a href="#">About</a>
				    <a href="#" class="flyout-toggle"><span> </span></a>
				    <div class="flyout large">
				    	<div class="row">
				    		<div class="four columns">
				    			<h4 class="section-head">About TeenTix</h4>
				    			<ul>
					    			<li><a href="{site_url}about">Learn about us</a></li>
							      <li><a href="{site_url}how-to">How to use TeenTix</a></li>
							      <li><a href="{site_url}faqs">FAQs</a></li>
							    </ul>
				    		</div>
				    		<div class="four columns">
				    			<h4 class="section-head">Our Partners</h4>
				    			<ul>
				    				<li><a href="{site_url}partners">Partners</a></li>
				    				<li><a href="{site_url}community-partners">Community Partners</a></li>
							      <li><a href="{site_url}become-partner">Become a TeenTix Partner</a></li>
							    </ul>
				    		</div>
				    		<div class="four columns">
				    			<h4 class="section-head">Get Involved</h4>
				    			<ul>
					    			<li><a href="/teen-steering-committee">Teen Steering Committee</a></li>
					    			<li><a href="/write-for-our-blog">Write for Our Blog</a></li>
							      <li><a href="/support-teentix">Support TeenTix</a></li>
							    </ul>
				    		</div>
				    	</div>
					  </div>
				  </li>
				  
		      <li class="last"><a href="{path='contact'}">Contact</a></li>
		      <li class="last" id="get-lost-pass"><a href="{path=''}">Lost Pass</a></li>
		    </ul>
		    
		  </div>
	  </div>
  </div><!-- #top-nav -->
  
  <div id="nav-breadcrumb">
	  <div class="row">
	  	<div class="twelve columns">
	  		<ul class="breadcrumbs">
			  {if segment_1 != ""}
		  			<li><a href="{site_url}">Home</a></li>
			  	{if segment_1}
			  		<li {if segment_2 == ""}class="current"{/if}><a href="{site_url}{segment_1}">{if embed:segment_1_title}{embed:segment_1_title}{if:else}{segment_1}{/if}</a></li>
			  	{/if}
			  	{if embed:end_title}
			  		<li class="current"><a href="#">{embed:end_title}</a></li>
			  	{/if}
			  {/if}	
  
			  {if embed:end_title == "Error"}
	  			<li><a href="{site_url}">Home</a></li>
		  		<li><a href="{site_url}account">Account</a></li>
		  		<li class="current"><a href="#">{embed:end_title}</a></li>
			  {/if}
  			</ul>
  		</div>
  	</div>
  </div><!-- end #nav-breadcrumb -->
  
  <div id="main-content">
