{exp:user:register 
  form:name="account_form"  
  form:id="account_form"   
  return="account/confirm"  
  admin_register="yes"  
  error_page="account/error" 
}

	<h4 id="fb-register" class="sans">{embed="inc/.fbc_login" size="large"} or create an account</h4>
  <fieldset>
    <legend>Account Info <span class="notice-required">Required information*</span></legend>
    
    
    <p>Email and public screen names must be unique.</p>
    <div class="row">
    	<div class="nine columns">
    		<label for="username" class="require">Email*</label>
		    <input type="text" name="username" value="{embed:email}" id="account_username" class="required" />
    	</div>
    	<div class="three columns">
    		<label class="field_return username_return"></label>
    	</div>
    </div>
    <div class="row">
    	<div class="nine columns">
    		<label for="screen_name" class="require">Public Screen Name*</label>
		    <input type="text" name="screen_name" id="account_screen_name" class="required" />
    	</div>
    	<div class="three columns">
    		<label class="field_return screen_name_return"></label>
    	</div>
    </div>
    <div class="row">
    	<div class="nine columns">
    		<label for="password" class="require">Password*</label>
    		<input type="password" name="password" id="password" class="required" />
    	</div>
    </div>
    <div class="row">
    	<div class="nine columns">
    		<label for="password_confirm" class="require">Confirm Password*</label>
		    <input type="password" name="password_confirm" id="password_confirm" class="required" />
    	</div>
    </div>
    
  </fieldset>
  
  <fieldset id="account_terms">
    <legend>Terms of Use</legend>
    <div class="terms">
      {account_form_terms}
    </div>

    <label for="accept_terms" class="require">
      <input type="checkbox" name="accept_terms" id="accept_terms" value="yes" class="required" title="Please accept the terms of service." /> 
      Yes, I accept the terms of use.*
    </label>         

  </fieldset>

  <div class="form_submit">
		<input type="submit" value="Submit" class="button" />
  </div>
  
  {if no_results}
  <p>You're currently logged in, and must be logged out to view this form.</p>
  {/if}   
   
{/exp:user:register}  
