{if logged_in}
<h4 class="sans">Your Account</h4>
<ul id="account_nav">
	<li><a href="{path='account/index'}">Account Home</a></li>
	<li><a href="{path='account/edit'}">Edit Profile</a></li>
{exp:fbc:login}
{if fbc_logged_in == "n"} 
	<li><a href="{path='account/settings'}">Edit Email</a></li>
	<li><a href="{path='account/password-update'}">Edit Password</a></li>
{/if}
{/exp:fbc:login} 
	<li><a href="{path='account/events'}">My Events</a></li>
	<li><a href="{path='account/comments'}">My Comments</a></li>
	<li><a href="{path='account/new_pass'}">Replace a Lost TeenTix Pass</a></li>
</ul>
{/if}