{if logged_out}
	{redirect="account/login"}
{/if}
{embed="inc/.header"
  body_class="account events"
}
{embed="inc/.nav"}  

  
  <div class="row">
    <div class="twelve columns">
      <h1 id="page-name">Hi, {screen_name}.</h1>
    </div>
  </div>

  <div class="row">  
    <div id="sidebar"  class="three columns">
		{embed="account/.sidebar"}
    </div>
    
    <div id="main" class="nine columns">   	
			<div id="member_events">
			{exp:favorites:entries
		    channel="calendar_events"
		    favorites_count="yes"
			}
		    <h3 class="section-head sans">Saved Events</h3>
		    {if favorites_count > 0}
		    <p class="total-count">You have {favorites_count} saved event</p>
		    {/if}
			{/exp:favorites:entries}
			 
				{!--<div class="row header">
			    <div class="nine columns">
			    	Event Info
			    </div>
			    <div class="three columns">
			    	Saved On
			    </div>
			  </div>--}
			{exp:favorites:entries
		    channel="calendar_events"
		    limit="10"
		    paginate="bottom"
		    orderby="favorites_date" 
			}
				<div class="row">		    
		    	{embed="account/.event-dates" event_id="{entry_id}" favorites_date="{favorites_date format='%n/%j/%y'}" favorites_time="{favorites_date format='%g:%i %a'}"}	
		    </div>		    		 
		    {paginate}
	        <p class="paginate">Page {current_page} of {total_pages} pages {pagination_links}</p>
		    {/paginate}
		    {if no_results}
        <p>You have not saved any events.</p>
        {/if}
			{/exp:favorites:entries}
				
			</div><!-- end #member_events -->
					
		</div>			   
  </div>
    
{embed="inc/.footer"}