{if logged_out}
	{redirect="account/login"}
{/if}
{embed="inc/.header"
  body_class="account home"
}
{embed="inc/.nav"}  

  <div class="row">
    <div class="twelve columns">
      <h1 id="page-name">Hi, {screen_name}.</h1>
    </div>
  </div>

  <div class="row">  
    <div id="sidebar" class="three columns">
		{embed="account/.sidebar"}
    </div>
    
    <div id="main" class="nine columns">
     
     {exp:user:stats} 
 
			<div id="public-profile" class="section">
				<div class="edit-profile"><a href="{path='member'}/{member_id}" class="button small">View Profile</a></div>
				<h3 class="section-head sans">Your Public Profile </h3>
				
				{embed="member/.member-profile" dynamic="no"}
			
			</div><!-- end #public-profile -->
			{/exp:user:stats} 
			
			<div id="member-events" class="section">
			{exp:favorites:entries
		    channel="calendar_events"
		    favorites_count="yes"
			}
		    <h3 class="section-head sans">My Saved Events</h3>
		    {if favorites_count > 0}
		    <p>You have {favorites_count} saved event</p>
		    {/if}
			{/exp:favorites:entries}
			 
			{exp:favorites:entries
		    channel="calendar_events"
		    limit="3"
		    paginate="bottom"
			}
			  <div class="row">
			    {embed="account/.event-dates" event_id="{entry_id}" favorites_date="{favorites_date format='%n/%j/%y'}" favorites_time="{favorites_date format='%g:%i %a'}"}	
			  </div>		 
		    {paginate}
        <p class="view-all"><a href="{path='account/events'}">View all saved events &raquo;</a></p>
		    {/paginate}
		    {if no_results}
        <p>You have not saved any events.</p>
        {/if}
			{/exp:favorites:entries}
			</div><!-- end #member-events -->
			
			{exp:user:stats} 			
			<div id="member-info" class="section">
				<h3 class="section-head sans">Private Information</h3>
				<div class="row">
					<div class="four columns">
						<p>Name</p>
					</div>
					<div class="eight columns">
						<p>{if first_name OR last_name}{first_name} {middle_initial} {last_name}
						{if:else}<span class="no_info">No name saved</span>{/if}</p>
					</div>
				</div>
				<div class="row">
					<div class="four columns">
						<p>Email</p>
					</div>
					<div class="eight columns">
						<p>{email}</p>
					</div>
				</div>
				<div class="row">
					<div class="four columns">
						<p>Phone Number</p>
					</div>
					<div class="eight columns">
						<p>
							{if phone_number}{phone_number}
							{if:else}<span class="no_info">No phone number saved</span>{/if}
						</p>
					</div>
				</div>
				<div class="row">
					
					<div class="four columns">
						<p>Birthdate</p>
					</div>
					<div class="eight columns">
					<p>
					{if bday_m}
						{if bday_m == "01"}January
						{if:elseif bday_m == "02"}February
						{if:elseif bday_m == "03"}March
						{if:elseif bday_m == "04"}April
						{if:elseif bday_m == "05"}May
						{if:elseif bday_m == "06"}June
						{if:elseif bday_m == "07"}July
						{if:elseif bday_m == "08"}August
						{if:elseif bday_m == "09"}September
						{if:elseif bday_m == "10"}October
						{if:elseif bday_m == "11"}November
						{if:elseif bday_m == "12"}December
						{if:else}{/if}
					{/if} 
					{if bday_d}{bday_d}{/if}{if bday_y AND bday_d}, {/if}
					{if bday_y}{bday_y}
					{if:else}
					<span class="no_info">No birthdate saved</span>
					{/if}
					</p>
					</div>
				</div>
				
				<div class="row">
					<div class="four columns">
						<p>Mailing Address</p>
					</div>
					<div class="eight columns">
						<p>
							{if street_address}{street_address}{if:else}<span class="no_info">No mailing address saved</span>{/if}
							{if city OR state OR zip_code}<br />{city}, {state} {zip_code}{/if}
							{if country}<br />{country}{/if}
						</p>
					</div>
				</div>
				
				<div class="row">
					<div class="four columns">
						<p>Interests</p>
					</div>
					<div class="eight columns">
						<p>
						{categories}
						{category_body}{category_name}<br />{/category_body}
						{/categories} 
						</p>
					</div>
				</div>
			</div><!-- end #member-info -->
			 
			<!--<div id="members_stats" class="section">
				<h3>Stats</h3>
				<div class="row">
					<div class="four columns">
						<p>Member Since</p>
					</div>
					<div class="eight columns">
						<p>{join_date format="%M %j, %Y %g:%i %a"}</p>
					</div>
				</div>
				<div class="row">
					<div class="four columns">
						<p>Last Visit</p>
					</div>
					<div class="eight columns">
						<p>{last_visit format="%M %j, %Y %g:%i %a"}</p>
					</div>
				</div>		
			</div><!-- end #member-stats -->
			
			<div id="member-comments" class="section">
				<h3 class="section-head sans">My Comments</h3>			
			{if total_comments > 0}
				<p class="total-count">You have {total_comments} total comments</p>
				{exp:comment:entries 
					dynamic="no" 
					author_id="{member_id}" 
					limit="5"
				}
				<div class="comment">
	        <p class="posted">Comment for <a href="{comment_url_title_auto_path}">{title}</a> on {comment_date format="%D, %M %j, %Y at %g:%i %a"}</p>
        	{comment}
        </div>
        {paginate}
        <p class="view-all"><a href="{path='account/comments'}">View all comments &raquo;</a></p>
		    {/paginate}
				{/exp:comment:entries}
			{if:else}
				<p>You have not left any comments</p>
			{/if}
			</div><!-- end #member-comments -->
			{/exp:user:stats}   
			
		</div>			   
  </div>
  
{embed="inc/.footer"}