{if logged_in}
  {redirect="account"}
{/if}
{embed="inc/.header"
	title="Create an Account | Account"
  body_class="account new"
  og_description="{exp:trunchtml chars='160'}{exp:remove_html}{exp:low_variables:single var='account_form_content'}{/exp:remove_html}{/exp:trunchtml}"
}
{embed="inc/.nav"
	end_title="Create"
}

  <div class="row">
    <div class="twelve columns">
      <h1 id="page-name">{account_form_title}</h1>
    </div>
  </div>

  <div class="row">  
    <div id="sidebar" class="four columns">
      <h4 class="sans">{account_form_kicker}</h4>
      {account_form_content}
    </div>
    
    <div id="main" class="eight columns">
    {embed="account/.account-signup-form"}  
    </div>       
  </div>
  
{embed="inc/.footer"}