{embed="inc/.header"
  body_class="account confirm"
}
{embed="inc/.nav"
	end_title="Confirm"
}  

  
  <div class="row">
    <div class="twelve columns">
      <h1>Hi, {screen_name}.</h1>
    </div>
  </div>
  
  <div class="row"> 
  	<div class="three columns">
		{embed="account/.sidebar"}
    </div> 
   
    <div class="nine columns">
      
      <h4>Your request for a new pass has been submitted.</h4>
      <p>You should be receiving your new pass in the mail in 5-7 days.</p>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      
      <p><a href="{path='account/temporary_pass'}/{segment_3}" class="button">Print your temporary pass</a>.</p>

    </div>
    
  </div>
  
  
{embed="inc/.footer"}