{if logged_out}
	{redirect="account/login"}
{/if}
{embed="inc/.header"
  body_class="account confirm"
}
{embed="inc/.nav"
	end_title="Confirm"
}  
  
  <div class="row">
    <div class="twelve columns">
      <h1 id="page-name">Hi, {screen_name}.</h1>
    </div>
  </div>
  
  <div class="row"> 
  	<div id="sidebar" class="three columns">
		{embed="account/.sidebar"}
    </div> 
   
    <div id="main" class="nine columns">
      
      <h4 class="sans">{account_replacepass_confirm_kicker}</h4>
      {account_replacepass_confirm_content}
      
      <div class="form_submit">
				<a href="{path='pass/temporary'}/{segment_3}/{current_time}" class="button" target="_blank">Print your temporary pass</a>.
			</div>

    </div>
    
  </div>
  
{embed="inc/.footer"}