{if logged_in}
  {redirect="account"}
{/if}
{embed="inc/.header"
  body_class="account password"
}
{embed="inc/.nav"
	end_title="Reset Password"
}
  
  <div class="row">
    <div class="twelve columns">
      <h1>Password Reset</h1>
    </div>
  </div>

  <div class="row">  
    <div class="four columns">
      <h4>Forgot Password?</h4>
      <p>If you've forgotten your password, just enter your email address you registered with and you will receive an email with instructions for resetting your Password.</p>
    </div>
    
    <div class="eight columns">
     
    {exp:user:forgot_password}
    <fieldset>
      <label for="email" class="require">Email Address <span class="required">*</span></label>
      <input type="text" name="email" id="email" class="required" />
      <p><input type="submit" name="submit" value="Submit" class="button" /></p>
    </fieldset>
    {/exp:user:forgot_password}  
         
    </div>   
    
  </div>
  
  
{embed="inc/.footer"}