{if logged_in}
  {redirect="account"}
{/if}
{embed="inc/.header"
  body_class="account password"
	title="Password Reset | Account"
	noindex="true"
}
{embed="inc/.nav"
	end_title="Reset Password"
}
  
  <div class="row">
    <div class="twelve columns">
      <h1 id="page-name">{account_password_title}</h1>
    </div>
  </div>

  <div class="row">  
    <div id="sidebar" class="four columns">
      <h4 class="sans">{account_password_kicker}</h4>
      {account_password_content}
    </div>
    
    <div id="main" class="eight columns">
	    {exp:user:forgot_password}
	    <fieldset>
	      <label for="email" class="require">Email Address</label>
	      <input type="text" name="email" id="email" class="required eight" />
	      <p><input type="submit" name="submit" value="Submit" class="button" /></p>
	    </fieldset>
	    {/exp:user:forgot_password}  
    </div>     
  </div>
  
{embed="inc/.footer"}