{if logged_out}
	{redirect="account/login"}
{/if}
{embed="inc/.header"
  body_class="account settings"
}
{embed="inc/.nav"
	end_title="Settings"
}
  
  <div class="row">
    <div class="twelve columns">
      <h1 id="page-name">Hi, {screen_name}.</h1>
    </div>
  </div>

  <div class="row">  
    <div id="sidebar" class="three columns">
    {embed="account/.sidebar"}
    </div>    
    <div id="main" class="nine columns">
    {exp:user:edit
    	return="settings/update"
    	form:id="account_edit_settings" 
    	error_page="account/error" 
    	password_required="n" 
    }      
      <fieldset>
	      <legend>Account Password  <span class="notice-required">Required information*</span></legend>
	      
	      <div class="row">
	      	<label class="require three columns">New Password*</label>
	      	<div class="six columns end">
	      		<input type="password" name="password" id="password" class="required" />
	      	</div>
	      </div>
	      
	      <div class="row">
	      	<label class="require three columns">Password Confirm*</label>
	      	<div class="six columns end">
	      		<input type="password" name="password_confirm" class="required" />
	      	</div>
	      </div>
	       
      </fieldset> 
      <p><input type="submit" value="Submit" class="medium button" /></p>
   {/exp:user:edit}      
    </div>   
  </div>
  
{embed="inc/.footer"}