{embed="inc/.header"
  body_class="account settings"
}
{embed="inc/.nav"
	end_title="Settings"
}
  
  <div class="row">
    <div class="twelve columns">
      <h1>Hi, {screen_name}.</h1>
    </div>
  </div>

  <div class="row">  
    <div class="three columns">
    {embed="account/.sidebar"}
    </div>    
    <div class="nine columns">
    {exp:user:edit
    	form:id="account_edit_settings" 
    	error_page="account/error" 
    }      
      <fieldset>
	      <legend>Account Settings</legend>
	      <div class="row">
	      	<label class="three columns">Email</label>
	      	<div class="six columns">
	      		<input type="email" name="email" value="{email}" class="required" id="account_username" data-current="{email}" />
	      	</div>
	      	<div class="three columns">
	      		<label class="field_return username_return"></label>
	      	</div>
	      </div>
	      
	      <div class="row">
	      	<label class="three columns">New Password</label>
	      	<div class="six columns end">
	      		<input type="password" name="password" id="password" />
	      	</div>
	      </div>
	      
	      <div class="row">
	      	<label class="three columns">Password Confirm</label>
	      	<div class="six columns end">
	      		<input type="password" name="password_confirm" />
	      	</div>
	      </div>
	      
	      <hr />
	      <p>In order to update your email or password, you'll have to submit the current password:</p>
	      <div class="row">
	      	<label class="three columns">Current Password</label>
	      	<div class="six columns end">
	      		<input type="password" name="current_password"  class="required" />
	      	</div>
	      </div>
	       
      </fieldset> 
      <p><input type="submit" value="Submit" class="medium button" /></p>
   {/exp:user:edit}      
    </div>   
  </div>
  
{embed="inc/.footer"}