{if logged_out}
	{redirect="account/login"}
{/if}
{embed="inc/.header"
  body_class="account settings"
}
{embed="inc/.nav"
	end_title="Settings"
}
  
  <div class="row">
    <div class="twelve columns">
      <h1 id="page-name">Hi, {screen_name}.</h1>
    </div>
  </div>

  <div class="row">  
    <div id="sidebar" class="three columns">
    {embed="account/.sidebar"}
    </div>    
    <div id="main" class="nine columns">
    	{if segment_3 == "success"}
    	<div class="alert-box success">
    		You have successfully updated your email.
    	</div>
    	{/if}
    {exp:user:edit
    	form:id="account_edit_settings" 
    	error_page="account/error" 
    	return="account/settings/success"
    	override_return="account/settings/success" 
    	password_required="n" 
    }      
      <fieldset>
	      <legend>Account Email Address  <span class="notice-required">Required information*</span></legend>
	      <div class="row">
	      	<label class="require three columns">Email*</label>
	      	<div class="six columns">
	      		<input type="email" name="email" value="{email}" class="required" id="account_username" data-current="{email}" />
	      	</div>
	      	<div class="three columns">
	      		<label class="field_return username_return"></label>
	      	</div>
	      </div>
	      
	      <div class="row">
	      	<hr />
	      	<label class="require three columns">Current Password*</label>
	      	<div class="six columns end">
	      		<input type="password" name="current_password" class="required" title="Your current password is required to change your email" /> 
	      	</div>
	      </div>
	      
	       
      </fieldset> 
      <div class="form_submit">
				<input type="submit" value="Submit" class="medium button" />
			</div>
   {/exp:user:edit}      
    </div>   
  </div>
  
{embed="inc/.footer"}