{if logged_out}
	{redirect="account/login"}
{/if}
<!DOCTYPE html>
<html lang="">
<head>  
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="" />  
	<meta name="keywords" content="" />
	<meta name="robots" content="" />
</head>
<body>
	<div class="container">
	
	{exp:freeform:entries
    entry_id="{segment_3}" 
	}
	{exp:user:stats} 
	{if member == member_id}
		<h1>TeenTix Temporary Pass</h1>
	  <h3>{name}</h3>
		
		{exp:calendar:date base_date="{entry_date format='%Y-%m-%d'}" output_date="1 month" } 
			{if '{current_time format="%Y%m%d"}' > date}
				{redirect="account/temporary_pass_expired"}
			{/if}
			<p>Issue Date: {current_time format="%M %j, %Y"}</p>
			<p>Expiration Date: {date format="%M %j, %Y"}</p>			
		{/exp:calendar:date} 
		 
		{if no_results}
			{redirect="account/temporary_pass_expired"}
		{/if}
	{if:else}
		{redirect="account/temporary_pass_expired"}
	{/if}
 	{/exp:user:stats} 
	{/exp:freeform:entries}
	</div>
</body>
</html>