{embed="inc/.header"
  body_class="application signup"
  title="Sign Up"
}
{embed="inc/.nav"} 
  
  <div class="row">
    <div class="twelve columns">
      <h1 id="page-name">Sign Up for a...</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="four columns">
    	
    	<div class="entry-image">
    		<img src="{site_url}css/images/site/signup-pass.png" alt="" />
    	</div>
    	<h4>{signup_pass_title}</h4>
    	{signup_pass_content}
    	<p><a href="{path='sign-up/application'}" class="button">Get Your Pass</a></p>
      
    </div>
    
    <div class="four columns">
  		
  		<div class="entry-image">
    		<img src="{site_url}css/images/site/signup-account.png" alt="" />
    	</div>
    	<h4>{signup_account_title}</h4>
    	{signup_account_content}
    	<p><a href="{path='account/new'}" class="button">Get an Account</a></p>
    </div>
    <div class="four columns">
    	
    	<div class="entry-image">
    		<img src="{site_url}css/images/site/signup-newsletter.png" alt="" />
    	</div>
    	<h4>{signup_newsletter_title}</h4>
    	{signup_newsletter_content}
    	<p><a href="{path='newsletter'}" class="button">Subscribe</a></p>
    </div>
  </div>

  
{embed="inc/.footer"}