{if segment_3 == ""}
	{redirect="account/new"}
{/if}

{if segment_3 != ""}
	{embed="inc/.header"
		title="Create a TeenTix Account | Application"
	  body_class="application"
	  noindex="true"
	}
	{embed="inc/.nav"
		end_title="Temporary Pass"
	} 

{exp:freeform:entries
  entry_id="{segment_3}" 
  form_name="pass_application"
  status="not closed"
}		  
	  <div class="row">
	    <div class="twelve columns">
	      <h1 id="page-name">Welcome to TeenTix {freeform:field:first_name}!</h1>
	    </div>
	  </div>
  
		<div class="row">
		
	    <div id="left" class="five columns">

	      <div style="text-align: center; margin: 30px 0px 30px 0px;"><a href="{site_url}pass/new/{freeform:entry_id}/{freeform:entry_date}" class="button large yellow" target="_blank">Download Your<br />Temporary Pass</a></div>
 	      <h4 class="sans">{application_confirm_pass_header}</h4>
	      {application_confirm_pass_content}
				
			</div>
			
			<div id="right" class="five columns offset-by-one end">
				
				<h4 class="sans">{application_confirm_account_header}</h4>
				{application_confirm_account_content}
				<div style="text-align: center; margin: 25px 0px 50px 0px;"><a href="{site_url}account/new" class="button medium">Create an Account &raquo;</a></div>
	    </div>
	        
	  </div>
		{if freeform:field:newsletter == "yes"}
			{embed="inc/.mailchimp" entry_id="{segment_3}"}
		{/if}

{/exp:freeform:entries}  
	 
	{embed="inc/.footer"}
{/if}