{if segment_3 == ""}
	{redirect="account/new"}
{/if}

{if segment_3 != ""}
	{embed="inc/.header"
		title="Create a TeenTix Account | Application"
	  body_class="application"
	}
	{embed="inc/.nav"
		end_title="Temporary Pass"
	} 

{exp:channel:entries 
  entry_id="{segment_3}" 
  track_views="one" 
}		  
	  <div class="row">
	    <div class="twelve columns">
	      <h1 id="page-name">Welcome to TeenTix {app_first_name}!</h1>
	    </div>
	  </div>
  
		<div class="row">
		
	    <div id="left" class="five columns">
	      <h4 class="sans">{application_confirm_pass_header}</h4>
	      {application_confirm_pass_content}
				<h4><a href="{site_url}pass/new/{entry_id}/{entry_date}" class="button large" target="_blank">Temporary Pass</a></h4>
			</div>
			
			<div id="right" class="five columns offset-by-one end">
				<h4 class="sans">{application_confirm_account_header}</h4>
				{application_confirm_account_content}
				<p><a href="{site_url}account/new" class="button medium">Create an Account &raquo;</a></>
	    </div>
	        
	  </div>
	  
		{if app_newsletter == 'yes'}
		  {exp:mailchimp_ee:subscribe 
		  	api_key="{mailchimp_api}" 
				list_id="{mailchimp_list_id}"  
		  	email_address="{app_email}" 
		  	merge_FNAME="{app_first_name}" 
		  	merge_LNAME="{app_last_name}" 
		  	merge_MINITIAL="{app_middle_initial}"
		  	merge_BDATE='{app_birthdate format="%Y-%m-%d"}' 
		  	merge_SCHOOL="{app_school}"
		  	merge_STREET="{app_address}"
		  	merge_CITY="{app_city}"
		  	merge_STATE="{app_state}"
		  	merge_ZIP="{app_zip}"
		  	merge_COUNTRY="{app_country}"
		  	merge_PHONE="{app_phone}"
		  	merge_REFER="{app_hear_about}"
		  	merge_INTEREST="{categories show_group="1" backspace="2"}{category_name}, {/categories}"
				interest_groups="{app_member_type}" 
		  	double_optin='no'
		  }
		{/if}
		
		{if view_count_one < 1}
			{embed="sign-up/.email" entry_id="{segment_3}"}
		{/if}
	{/exp:channel:entries}  
	 
	{embed="inc/.footer"}
{/if}