{embed="inc/.header"
	title="Search"
	body_class="search results"
}

{embed="inc/.nav"
	segment_1_title="search"
} 
    
  <div class="row">
  	<div id="page-header" class="twelve columns">
	  	<h1 id="page-name">Search</h1>
  	</div>
  	
    <div id="main" class="eight columns">
   		{exp:search:simple_form 
				name="utility_search"
				no_result_page="search/noresults"
				result_page="search/results"
				search_in="everywhere"
				channel="not calendar_calendars|applications|newsletter"
				status="open|featured"
				results="20"
			}
				<fieldset>
					<legend>Search TeenTix</legend>
			    <input type="text" name="keywords" id="keywords" value="" size="18" maxlength="100">
			    <input type="submit" value="Go" class="submit button small">
		    </fieldset>
			{/exp:search:simple_form}
    </div>

  	<div id="sidebar" class="four columns">
			&nbsp;
		</div>
  
  </div>

	
{embed="inc/.footer"}