{embed="inc/.header"
	title="Community Partners"
	body_class="orgs community"
	og_description="{exp:trunchtml chars='300'}{exp:remove_html}{exp:low_variables:single var='description_community_partners'}{/exp:remove_html}{/exp:trunchtml}"
}

{embed="inc/.nav"
	segment_1_title="Community Partners"
}

  <div class="row">
    <div class="twelve columns">
    	{add_community}
      <h1 id="page-name">Community Partners</h1>
      <div class="page-description">{description_community_partners}</div>
    </div>
  

		<div class="twelve columns">
	  	<ul id="org-grid" class="block-grid five-up">
	    {exp:channel:entries channel="community-partners" limit="200" orderby="title" sort="asc"}
	    	<li class="org">
	    		<div class="org-logo">
		  			<a href="{url_title_path='community-partners'}">
		  			{exp:ce_img:pair src="{org_image}" width="140" height="140" filter="grayscale"}
						<img src="{made}" alt="" width="{width}" height="{height}" />
						{/exp:ce_img:pair}
						</a>
					</div>
					<h4 class="org-name sans"><a href="{url_title_path='community-partners'}">{title}</a></h4>
	    	</li>
			{/exp:channel:entries}	      	
	    </ul>
    </div>
		
    
    
  </div>

{embed="inc/.footer"}