{exp:channel:entries channel="partners" limit="1"}
{embed="inc/.header"
	title="{title} | Community Partners"
	body_class="partners single"
}

{embed="inc/.nav"
	segment_1_title="Community Partners"
	end_title="{title}"
}
  
  
  <!-- Three-up Content Blocks -->
  
  <div class="row">
  
    <div class="twelve columns">
    
    	<div class="row">
    		<div class="eight columns">
    			<h1 id="page-name">{title}</h1>
    			<p><a href="{org_website}">{org_website}</a></p>
    			{org_contact_info} 	
  			{if org_facebook}
    			<p>{org_facebook}</p>
    		{/if}
    		{if org_twitter}
    			<p>{org_twitter}</p>
    		{/if}	
    			{org_description}	
    		</div>
    		<div class="four columns">
    		{exp:ce_img:pair src="{org_image}" width="300"}
					<img src="{made}" alt="" width="{width}" height="{height}" />
				{/exp:ce_img:pair}
    		</div>
    	</div>
      	
    </div>
    
  </div>
{/exp:channel:entries}

{embed="inc/.footer"}