{exp:channel:entries channel="partners" limit="1"}
{embed="inc/.header"
	title="{title} | Community Partners"
	body_class="partners single"
}

{embed="inc/.nav"
	segment_1_title="Community Partners"
	end_title="{title}"
}
  
  
  <div class="row">
  	{edit_this}
		
		<div class="eight columns">		
  		<div class="row">
  				
  			<div class="eight columns">
  				<h1 id="page-name">{title}</h1>
					<div id="org-contact">
					{if org_website}					
		  			<p class="org-website"><a href="http://{exp:parse_url parts="host|path|query|fragment"}{org_website}{/exp:parse_url}">{exp:parse_url parts="host|path|query|fragment"}{org_website}{/exp:parse_url}</a></p>
		  		{/if}
		  		{if org_address}
		  			<p class="org-address">{org_address}</p>
		  		{/if}
		  		{if org_phone}
		  			<p class="org-phone">{org_phone}</p>
		  		{/if}
		  		{if org_email}
		  			<p class="org-email">
		  			{org_email}
		    			{if name}{name}: {/if}{encode="{email}" title="{email}"}<br />
		  			{/org_email}
		  			</p>
		  		{/if}			
		  		</div>
		  	</div>
		  	<div class="four columns">
  			{exp:ce_img:pair src="{org_image}" width="220"}
					<div id="org-logo">
						<img src="{made}" alt="" width="{width}" height="{height}" />
					</div>
				{/exp:ce_img:pair}
				</div>
			</div>
			{org_description}	
		</div>
		<div class="four columns">
		&nbsp;
		</div>
    
  </div>
  
{/exp:channel:entries}

{embed="inc/.footer"}