{exp:channel:entries channel="community-partners" limit="1"}
{embed="inc/.header"
	title="{title} | Community Partners"
	body_class="orgs single community"
}

{embed="inc/.nav"
	segment_1_title="Community Partners"
	end_title="{title}"
}
  
  
  <div class="row">
  	
		
		<div id="main" class="eight columns">		
  		<div class="row">
  				
  			<div class="eight columns">
  				<h1 id="page-name">{title}</h1>
					<div id="org-contact">
					{if org_website}					
		  			<p class="org-website"><a href="http://{exp:parse_url parts="host|path|query|fragment"}{org_website}{/exp:parse_url}">{exp:parse_url parts="host|path|query|fragment"}{org_website}{/exp:parse_url}</a></p>
		  		{/if}
		  		{if org_address}
		  			<p class="org-address">{org_address}</p>
		  		{/if}
		  		{if org_phone}
		  			<p class="org-phone">{org_phone}</p>
		  		{/if}
		  		{if org_email}
		  			<p class="org-email">
		  			{org_email}
		    			{if name}{name}: {/if}{encode="{email}" title="{email}"}<br />
		  			{/org_email}
		  			</p>
		  		{/if}			
		  		</div>
		  	</div>
		  	
		  	<div class="four columns">
  			{exp:ce_img:pair src="{org_image}" width="220" height="220"}
					<div id="org-logo">
						<img src="{made}" alt="" width="{width}" height="{height}" />
					</div>
				{/exp:ce_img:pair}
				</div>
			</div>
			<div id="org-description">
				{org_description}	
			</div>
		</div>
		<div id="sidebar" class="four columns">
		{edit_this}
			<div id="org-social" class="social-icons">
			{if org_facebook}
  			<a href="http://{exp:parse_url parts="host|path|query|fragment"}{org_facebook}{/exp:parse_url}"><img src="{site_url}css/images/social/fb_1.png" alt="" title="{org_facebook}" /></a>
  		{/if}
  		{if org_twitter}
  			<a href="http://{exp:parse_url parts="host|path|query|fragment"}{org_twitter}{/exp:parse_url}"><img src="{site_url}css/images/social/twitter_1.png" alt="" title="{org_twitter}" /></a>
  		{/if}
  		{if org_youtube}
  			<a href="http://{exp:parse_url parts="host|path|query|fragment"}{org_youtube}{/exp:parse_url}"><img src="{site_url}css/images/social/you_tube.png" alt="" title="{org_youtube}" /></a>
  		{/if}
  		</div>
		</div>
    
  </div>
  
{/exp:channel:entries}

{embed="inc/.footer"}