{embed="rating_inc/index" page_title="Edit Rating"}
</head>
<body id="home">
{embed="rating_inc/header"}

		<div id="maincolumn">
		
			<h2>Rating</h2>
			
			<h3>Edit Rating</h3>
			
			<p></p>

			<div id="leftcolumn">

{if segment_3 == "success"}
			<div class="codepack_success">Your rating/review has been successfully updated!</div>

			{exp:query limit="1" sql="SELECT entry_id FROM exp_ratings WHERE rating_id = '{segment_4}'"}
			<h4>Back to Entry: {embed="rating_inc/entry_title" entry_id="{entry_id}"}</h4>
			<hr />
			{/exp:query}
{/if}

{if segment_3 && segment_3 != "success"}

			{exp:query limit="1" sql="SELECT entry_id FROM exp_ratings WHERE rating_id = '{segment_3}'"}
			<h4>Posted in {embed="rating_inc/entry_title" entry_id="{entry_id}"}</h4>
			<hr />
			{/exp:query}

{exp:rating:form
   collection="Book Reviews"
   edit="yes"
   rating_id="{segment_3}"
   return="rating_main/edit/success/{segment_3}"
}

{if rating_author_id == "0"}
<p><label for="name">Name:</label> <input type="text" name="name" id="name" value="{name}" size="50" /></p>
<p><label for="email">Email Address:</label> <input type="text" name="email" id="email" value="{email}" size="50" /></p>
{/if}

<p><label for="rating">Your Rating:</label>
<select name="rating" id="rating">
<option value="1" {if rating == "1"}selected="selected"{/if}>1</option>
<option value="2" {if rating == "2"}selected="selected"{/if}>2</option>
<option value="3" {if rating == "3"}selected="selected"{/if}>3</option>
<option value="4" {if rating == "4"}selected="selected"{/if}>4</option>
<option value="5" {if rating == "5"}selected="selected"{/if}>5</option>
</select></p>
<p><label for="review">Your Review:</label><br />
<textarea name="review" id="review" rows="3" cols="40">{review}</textarea></p>

{if captcha}
<p>Please enter in the word you see below: <input type="text" name="captcha" size="20" /></p>
<p>{captcha}</p>
{/if}

<p><input type="submit" name="submit" value="Submit Changes!" /></p>

{/exp:rating:form}

{if:else}
   {if segment_3 != "success"}
   <p>No rating ID was specified.</p>
   {/if}
{/if}

			</div>

			<div id="rightcolumn">

{embed="rating_inc/side_column"}

				<div id="aboutcolumn">
		
					<h3>About This Page</h3>
			
					<p>The "Edit Rating" page allows Super Admins or the author of the rating to edit their rating/review submission.</p>

					<p>It makes use of the following functions:</p>

					<ul>
						<li><a href="http://www.solspace.com/docs/detail/rating_form/">Rating:Form</a> in Edit mode to allow users to edit their rating.</li>
					</ul>
		
				</div>

			</div>
	
		</div>
		
{embed="rating_inc/footer"}