{exp:channel:entries limit="1" dynamic="no"}

{embed="inc/.header"
  body_class="application"
}
{embed="inc/.nav"
	end_title="Newsletter Confirmation"
} 
  
  <div class="row">
    <div class="twelve columns">
      <h1 id="page-name">{title}</h1>
    </div> 
    
    <div class="eight columns">
      
      {general_body}

    </div>
    
    <div class="four columns">
      &nbsp;
    </div>
    
  </div>
{/exp:channel:entries}
  
{exp:channel:entries 
  entry_id="{segment_3}"  
}
{exp:mailchimp_ee:subscribe api_key="2919b6f49b6db2cf940a1ce3bb6520e4-us1" list_id="0d9d72b4f4" email_address="{app_email}" merge_MTYPE='{app_member_type}' interest_groups='{categories show_group="1" backspace="1"}{category_name}|{/categories}' double_optin='no'}
{/exp:channel:entries} 
   
{embed="inc/.footer"}