{embed="inc/.header"
  body_class="application"
  noindex="true"
}
{embed="inc/.nav"
	end_title="Confirmation"
} 
  
  <div class="row">
    <div class="twelve columns">
      <h1 id="page-name">{newsletter_confirm_title}</h1>
    </div> 
    
    <div class="eight columns">
      <h4>{newsletter_confirm_kicker}</h4>
      {newsletter_confirm_content}

    </div>
    
    <div class="four columns">
      &nbsp;
    </div>
    
  </div>
  
{exp:channel:entries 
  entry_id="{segment_3}"  
}
{exp:mailchimp_ee:subscribe 
	api_key="{mailchimp_api}" 
	list_id="{mailchimp_list_id}" 
	email_address="{app_email}" 
	merge_INTEREST="{categories show_group="1" backspace="2"}{category_name}, {/categories}"
	interest_groups="{app_member_type}" 
	double_optin='no'
}
{/exp:channel:entries} 
   
{embed="inc/.footer"}