{embed="inc/.header"
  body_class="account confirm"
  noindex="true"
}
{embed="inc/.nav"
	end_title="Confirm"
}  
  
  <div class="row">
    <div class="twelve columns">
      <h1 id="page-name">{lostpass_confirm_title}</h1>
    </div>
  </div>
  
  <div class="row"> 
  	
   
    <div class="eight columns">
      
      <h4 class="sans">{lostpass_confirm_kicker}</h4>
      {lostpass_confirm_content}
      <p><a href="{path='pass/temporary'}/{segment_3}/{current_time}" class="button" target="_blank">Print your temporary pass</a>.</p>

    </div>
    <div class="four columns">
		&nbsp;
    </div> 
    
  </div>
  
{embed="inc/.footer"}