{if logged_in}
	{redirect="account/new_pass"}
{/if}
{embed="inc/.header"
	title="Request a New Pass"
  body_class="application pass"
}
{embed="inc/.nav"} 
  
  <div class="row">
    <div class="twelve columns">
      <h1 id="page-name">Lost Your Pass?</h1>
    </div>

    <div class="four columns">
      <h4 class="sans">1. Request a new TeenTix pass</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="eight columns">
		{exp:freeform:form
	    form_name="request_pass"
	    form:id ="lost-pass-form"
	    return="pass/confirm/%%entry_id%%"
		}
        
      <fieldset id="app_info">
        <legend>Pass Holder Info  <span class="notice-required">Required information*</span></legend>

        <label for="name" class="require">Full Name</label>
        <input type="text" name="name" id="name" class="required">
        
            
        <label for="phone1" class="require">Best Contact Phone Number*</label>
        <input type="text" name="phone1" id="phone1" class="required eight">      
        
        <label for="birthday" class="require">Birthdate* (MM/DD/YYYY)</label>
        <input type="text" name="birthday" id="birthday" class="required eight">  
        
      </fieldset>
      
      <fieldset id="app_mailing_address"> 
        <legend>E-mail Address</legend>
        <p>Please provide us with an email address to receive your temporary pass.</p>
        <label for="email" class="require">Email Address*</label>
        <input type="text" name="email" id="email" class="required">

      </fieldset>
      
      <fieldset id="app_mailing_address"> 
        <legend>Mailing Address</legend>
        <p>Please provide us with a mailing address to receive your permanent pass.</p>
        <label for="street1" class="require">Address*</label>
        <input type="text" name="street1" id="street1" class="required">
        
        <label for="city" class="require">City*</label>
        <input type="text" name="city" id="city" class="eight required">
        
        <label for="state" class="require">State*</label>
        <input type="text" name="state" id="state" class="eight required">
        
        <label for="zip_code" class="require">Zip Code*</label>
        <input type="text" name="zip_code" id="zip_code" class="four required">
        
        <label for="country">Country (If not US)</label>
        <input type="text" name="country" id="country" class="eight">
      </fieldset>
      
      
      <div class="form_submit">
        <input type="submit" name="submit" value="Submit" class="button">
      </div>
      
		{/exp:freeform:form}
    </div>
    
  </div>
  
{embed="inc/.footer"}