{if logged_out}
	{redirect="account/login"}
{/if}

{exp:freeform:entries
  entry_id="{segment_3}" 
}
	{exp:user:stats} 
	{if member == member_id}
		
		{exp:calendar:date base_date="{entry_date format='%Y-%m-%d'}" output_date="2 weeks" } 
				
			{embed="pass/.pass" name="{name}" issue_date="{current_time format='%M %j, %Y'}" expiration_date="{date format='%M %j, %Y'}"}			
		{/exp:calendar:date} 
		 
		{if no_results}{redirect="pass/expired"}{/if}
	{if:else}
		{redirect="pass/expired"}
	{/if}
 	{/exp:user:stats} 
{/exp:freeform:entries}
