{exp:channel:entries channel="organizations" limit="1"}
{embed="inc/.header"
	title="{title} | Participating Organizations"
	body_class="orgs single"
}

{embed="inc/.nav"
	segment_1_title="Participating Organizations"
	end_title="{title}"
}
  
  
  <div id="main-content" class="row">
  
    <div class="twelve columns">
    	{edit_this}
    	<h1 id="page-name">{title}</h1>
    	
    	<div class="row">    		
    		<div class="four columns">
    		{exp:ce_img:pair src="{org_image}" width="220"}
    			<div id="org-logo">
						<img src="{made}" alt="" width="{width}" height="{height}" />
					</div>
				{/exp:ce_img:pair}
					<div id="org-contact">
					{if org_website}
	    			<p class="org-website"><a href="{org_website}">{org_website}</a></p>
	    		{/if}
	    		{if org_address}
	    			<p class="org-address">{org_address}</p>
	    		{/if}
	    		{if org_phone}
	    			<p class="org-phone">{org_phone}</p>
	    		{/if}
	    		{if org_email}
	    			<p class="org-email">
	    			{org_email}
		    			{if name}{name}: {/if}{encode="{email}" title="{email}"}<br />
	    			{/org_email}
	    			</p>
	    		{/if}
	  			{if org_facebook}
	    			<p>{org_facebook}</p>
	    		{/if}
	    		{if org_twitter}
	    			<p>{org_twitter}</p>
	    		{/if}
	    		</div>
	    	{if org_locations}	    			
    			{embed="organizations/.locations" entry_id="{org_locations}"}	    		
	    	{/if}
    		</div>
    		
    		<div class="eight columns">			
    			{org_description}	
    		</div>
    	</div>
      	
    </div>
    
  </div><!-- end #main-content -->
{/exp:channel:entries}

{embed="inc/.footer"}