{exp:channel:entries channel="organizations" limit="1"}
{embed="inc/.header"
	title="{title} | Participating Organizations"
	body_class="orgs single"
}

{embed="inc/.nav"
	segment_1_title="Participating Organizations"
	end_title="{title}"
}
  
  <div id="main-content" class="row">
		{edit_this}
		<div class="eight columns">		
  		<div class="row">
  				
  			<div class="eight columns">
  				<h1 id="page-name">{title}</h1>
					<div id="org-contact">
					{if org_website}					
		  			<p class="org-website"><a href="http://{exp:parse_url parts="host|path|query|fragment"}{org_website}{/exp:parse_url}">{exp:parse_url parts="host|path|query|fragment"}{org_website}{/exp:parse_url}</a></p>
		  		{/if}
		  		{if org_address}
		  			<p class="org-address">{org_address}</p>
		  		{/if}
		  		{if org_phone}
		  			<p class="org-phone">{org_phone}</p>
		  		{/if}
		  		{if org_email}
		  			<p class="org-email">
		  			{org_email}
		    			{if name}{name}: {/if}{encode="{email}" title="{email}"}<br />
		  			{/org_email}
		  			</p>
		  		{/if}			
		  		</div>
		  	</div>
		  	<div class="four columns">
  			{exp:ce_img:pair src="{org_image}" width="220"}
					<div id="org-logo">
						<img src="{made}" alt="" width="{width}" height="{height}" />
					</div>
				{/exp:ce_img:pair}
				</div>
			</div>
			{org_description}	
		</div>
		   		
		<div class="four columns">
			<div id="org-social" class="social-links">
			{if org_facebook}
  			<p><a href="http://{exp:parse_url parts="host|path|query|fragment"}{org_facebook}{/exp:parse_url}">{exp:parse_url parts="host|path|query|fragment"}{org_facebook}{/exp:parse_url}</a></p>
  		{/if}
  		{if org_twitter}
  			<p><a href="http://{exp:parse_url parts="host|path|query|fragment"}{org_twitter}{/exp:parse_url}">{exp:parse_url parts="host|path|query|fragment"}{org_twitter}{/exp:parse_url}</a></p>
  		{/if}
  		</div>
  	{if org_locations}	    			
			{embed="organizations/.locations" entry_id="{org_locations}"}	    		
  	{/if}
  		<div id="org-events">
  			<h4>Upcoming Events</h4>
			{reverse_related_entries channel="calendar_events" sort="desc" orderby="title"}
        <p><a href="{url_title_path='calendar/event'}">{title}</a></p>
       {if no_reverse_related_entries} 
       	<p>There are currently no events.</p>
       {/if}
      {/reverse_related_entries}

  		</div>
		</div>
    
  </div><!-- end #main-content -->
  
{/exp:channel:entries}

{embed="inc/.footer"}