<div id="main-content">
 
    
  <div class="row">
    
    <div id="main" class="eight columns">
    
      <div id="privacy" class="entry">
        <h1 id="page-name">Privacy</h1>
        <p>
  <strong>TEENTIX PRIVACY POLICY</strong><br />
  <strong>What Does Our Privacy Policy Cover?</strong><br />
  This Privacy Policy refers to your use of the TeenTix website located at www.teentix.org (the &ldquo;Site&rdquo;) and the TeenTix App and any other TeenTix mobile device applications (&ldquo;Apps&rdquo;), owned, operated, and provided by TeenTix (&ldquo;TeenTix&rdquo;, &ldquo;We&rdquo;, &ldquo;Us&rdquo;, or &ldquo;Our&rdquo;). To make this Privacy Policy easier to read, the Site, Our services and Apps are collectively referred to as the &ldquo;Services&rdquo;. Please carefully read this whole Privacy Policy before deciding to use the Services, as it covers the privacy practices and treatment of any information that you submit to Us, including personally identifiable information.</p>
<p>
  This Privacy Policy does not apply to the privacy practices of third parties whose links may appear on or through the Services. We are not responsible for the content or privacy practices of third parties or other users.</p>
<p>
  We recommend that you exercise caution before you voluntarily disclose personally identifiable content, information, or data to other users, on publically accessible or displayable parts of the Services, or through third-party links on third-party websites or platforms.<br />
  Collection and Use of Information</p>
<p>
  <strong>Email Addresses.</strong><br />
  We do not and will not send spam, sell or rent your email address or social media login account (&ldquo;Account&rdquo;) information to third parties. We do not disclose, sell, share, trade or give away a User&rsquo;s personal information to third parties, except as needed to complete certain Services that the User requests, or for completing payment and billing transactions through the services of payment processing vendors, if applicable.</p>
<p>
  <strong>Logging Statistics</strong><br />
  By interacting with the Services, the server automatically collects certain types of technical information. We use this information to maintain the quality and operation of the Services and its features. This information may include: your IP address, browser type, domain names, access times, and access platform.</p>
<p>
  <strong>IP Addresses</strong><br />
  Internet Protocol addresses indicate the location of a User&rsquo;s computers or mobile device on a network connected to the Internet. Providing services to you may result in the logging of IP addresses for systems administration and troubleshooting purposes. We do log IP addresses to track your session, and use the analytical information to provide enhanced and improved services to you. We do not link IP addresses to other personally identifiable information, nor publicise any analtytical data that can be tied to any one individual’s use of our Services.</p>
<p>
  <strong>Cookies or Similar Technologies</strong><br />
  Your use of the Services may result in the assignment and storage of session cookies or similar technologies to recognize your access privileges. A cookie is a text file that is placed on the hard disk of your computer or mobile device by a server. Session cookies expire when you end your session and close your browser interface. Cookies cannot be used to run programs or deliver viruses to your computer or mobile device. Cookies are uniquely assigned to you, and can only be read by aserver in the domain that issued the cookie to you.</p>
<p>
  <strong>Accounts; Social Media Accounts</strong><br />
  You may sign in through Facebook or any other Social Media platform that is integrated with the Services. You are entirely responsible for maintaining the confidentiality of the login details of your Account and your separate Social Media Account, including your password. You agree not to use the Account or Social Media Account, username, or password of another User at any time, or to disclose your password to any third party. You agree to notify Us immediately if you suspect any unauthorized use of your Account to access the Application. You are solely responsible for any and all use of your Account.<br />
  Data</p>
<p>
  <strong>Data Transfer</strong><br />
  Movement of data between a user&rsquo;s device and the server is entirely wrapped within an encrypted data link. Your data is as secure as the Account you use to enjoy the Application.</p>
<p>
  <strong>Data Storage</strong><br />
  By your use of the Services a limited amount of your data (text or images) is stored. This includes the name and email address linked to your Account and your contacts on the applicable login social media platform (e.g. Facebook).<br />
  Security<br />
  To prevent unauthorized access, safeguard data accuracy, and maintain the appropriate use of information, We have put in place appropriate physical, technical, and administrative procedures to protect the personal information data you submit. We make every effort to ensure the integrity and security of our network and systems. However, since the Internet is not 100% secure and new technology evolves and emerges, we cannot guarantee that our security measures will prevent third-party interferences from illegally obtaining or tampering with your personal information.</p>
<p>
  We encourage you to help us by also taking precautions to protect your personal data when you use the Services. Change your Account password often using a combination of letters, numbers, and characters, and make sure you use a secure connection.<br />
  <strong>Privacy of Minors</strong><br />
  We do not promote or offer the Services for use by anyone under the age of 13 (&ldquo;minors&rdquo;). TeenTix will not and does not knowingly solicit or collect personal information from minors, and we will not and do not knowingly link to any third-party website or platform that solicits or collects personal information from minors. If you believe that a minor has disclosed personal information to Us or that We have linked to such a third-party website or platform, please contact us at info@teentix.org.<br />
  <strong>Contacting Us About Privacy Concerns</strong><br />
  Please contact us at info@teentix.org with any questions regarding this Privacy Policy.<br />
  <strong>Changes to the Privacy Policy</strong><br />
  We may update this Privacy Policy from time to time by updating this posting, and notifying you by email and/or through the Services. You are responsible for periodically reviewing this Privacy Policy to stay informed about TeenTix&rsquo;s practices. Continued use of the Application after an update signifies your acceptance of the changes.</p>
<p>
  Date of Last Revision: October 4, 2016.</p>
      </div>
    
    </div>
  
  </div>


  
  </div><!-- end #main-content -->
