{exp:channel:entries limit="1"}
{embed="inc/.header"
	title="{title}"
	body_class="contact single"
}

{embed="inc/.nav"
	end_title="{title}"
} 
    
  <div class="row">
    <div id="main" class="eight columns">
    	<div class="entry">
				<h1 id="page-name">{title}</h1>
				
    		
    		<fieldset>
    			<legend>Get in touch!</legend>
    			<label>Your Name</label>
    			<input type="text" name="name" />
    			<label>Your Email</label>
    			<input type="text" name="email" />
    			<label>Your Message</label>
    			<textarea name="message"></textarea>
    			<input type="submit" value="submit" class="button" />
    		</fieldset>
    		
    	</div>
    
    </div>

  	<div id="sidebar" class="four columns">
      <p>{general_body}</p>
    </div>
{/exp:channel:entries}  
  </div>

{embed="inc/.footer"}