{embed="inc/.header"
	body_class="home"
}
{embed="inc/.nav"}  
  
  <!-- First Band (Slider) -->
  <!-- The Orbit slider is initialized at the bottom of the page by calling .orbit() on #slider -->
    
  <div id="main-featured" class="row">
    <div class="twelve columns">
      <div id="slider">
        <img src="http://placehold.it/1000x400&text=[img 1]" />
        <img src="http://placehold.it/1000x400&text=[img 2]" />
        <img src="http://placehold.it/1000x400&text=[img 3]" />
        <img src="http://placehold.it/1000x400&text=[img 4]" />
      </div>
      
      <hr />
    </div>
  </div>
  
  
  <!-- Three-up Content Blocks -->
  
  <div class="row">  
    <div class="four columns">
      <img src="http://placehold.it/400x300&text=[img]" />
    </div>
    
    <div class="four columns">
    {exp:channel:entries channel="blog" limit="1" status="featured"}
    	
    	<div class="entry">
  		{if blog_image}
  			<a href="{url_title_path='blog'}">
  			{exp:ce_img:pair src="{blog_image}" width="300" height="225" crop="yes"}
				<img src="{made}" alt="" width="{width}" height="{height}" />
				{/exp:ce_img:pair}
  			</a>
    	{/if}    	
    		<h3><a href="{url_title_path='blog'}">{title}</a></h3>
{!--     		<p class="entry-date">Posted {entry_date format="%D %M %j, %Y"}</p> --}
    		<p>
    		{exp:trunchtml chars="320" inline="..." ending="<a href='{path=site/comments}'>read on</a>"}	    		
	    		{exp:strip_html keep='b|em'}
					{blog_body}
					{/exp:strip_html}
				{/exp:trunchtml} 
				</p> 		
    	</div>
		{/exp:channel:entries} 
    </div>
    
    <div class="four columns">
    {exp:channel:entries channel="blog" limit="5"}
    	<div class="entry">
				<p class="entry-date">Posted {entry_date format="%D %M %j, %Y"}</p>
    		<h4><a href="{url_title_path='blog'}">{title}</a></h4>
    	</div>
		{/exp:channel:entries} 
    </div>
    
  </div>
  
  
  <!-- Call to Action Panel -->
  <div class="row">
    <div class="twelve columns">
    
      <div class="panel">
        <h4>Get in touch!</h4>
            
        <div class="row">
          <div class="nine columns">
            <p>We'd love to hear from you, you attractive person you.</p>
          </div>
          <div class="three columns">
            <a href="#" class="radius button right">Contact Us</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
{embed="inc/.footer"}