{exp:channel:entries limit="1"}
{embed="inc/.header"
	title="{title}"
	body_class="static single"
}

{embed="inc/.nav"
	segment_1_title="{title}"
	end_title=""
} 
    
  <div id="main-content" class="row">
  	{edit_this}
    <div id="main" class="eight columns">
    	<div class="entry">
				<h1 id="page-name">{title}</h1>
    		{general_body}
    	</div>
    
    </div>

  	<div id="sidebar" class="four columns">
      {general_sidebar}
    </div>
  
  </div><!-- end #main-content -->
	{/exp:channel:entries}
	
{embed="inc/.footer"}