{exp:channel:entries 
  entry_id="{embed:entry_id}"  
	parse="inward"
}
{exp:email_from_template to="{app_email}" mailtype="html" subject="Your Temporary Teen Tix Pass"}
	
	<h3>Welcome to TeenTix {app_first_name}!</h3>
	
	{global_email_welcome}
	
	<h4>Download your <a href="{site_url}application/temporary_pass/{entry_id}/{entry_date}">Temporary Pass</a></h4>
	
	<hr />

	<p>We received your TeenTix application on {entry_date format='%D, %M %j, %Y at %g:%i %a'}.</p>
	

{/exp:email_from_template} 

{/exp:channel:entries}