{if segment_3 == ""}
	{redirect="account/new"}
{/if}
{embed="inc/.header"
  body_class="application"
}
{embed="inc/.nav"
	end_title="Create Account"
} 
  
  <div class="row">
    <div class="twelve columns">
      <h1>TeenTix Application</h1>
    </div>
  </div>
  {exp:channel:entries 
    entry_id="{segment_3}"  
  }
  {if app_newsletter == 'yes'}
	  {exp:mailchimp_ee:subscribe 
	  	api_key="2919b6f49b6db2cf940a1ce3bb6520e4-us1" 
	  	list_id="0d9d72b4f4" 
	  	email_address="{app_email}" 
	  	merge_fname="{app_first_name}" 
	  	merge_lname="{app_last_name}" 
	  	merge_BDATE='{app_birthdate format="%Y-%m-%d"}' 
	  	merge_MTYPE='{app_member_type}' 
	  	interest_groups='{categories show_group="1" backspace="1"}{category_name}|{/categories}' 
	  	double_optin='no'
	  }
  {/if}

	{embed="application/.email" entry_id="{segment_3}"}
  
  {/exp:channel:entries}  

  <div class="row">  
    <div class="four columns">
      <h4>2. Create a TeenTix.com website account.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
      <p>Already have an account? <a href="{path='account/login'}">Login here</a>.</p>
    </div>
    
    <div class="eight columns">
    {exp:channel:entries 
      entry_id="{segment_3}"  
    }
	    {embed="account/.account-signup-form" email="{app_email}"}
    {/exp:channel:entries}
    </div>
    
    
    
  </div>
  
  
{embed="inc/.footer"}