{embed="inc/.header"
  body_class="application"
}
{embed="inc/.nav"}  
  
  <div class="row">
    <div class="twelve columns">
      <h1>Join TeenTix</h1>
    </div>
  </div>

  
  <div class="row">  
    <div class="four columns">
      <h4>1. Apply for the TeenTix pass.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="eight columns">
    {exp:safecracker 
      channel="applications" 
      return="application/newsletter/ENTRY_ID" 
      dynamic_title="[app_first_name] [app_last_name] Pass Application" 
      error_handling="inline"
      id="application_form"
      include_jquery="no"
      logged_out_member_id="2" 
      safecracker_head="no"  
    }
        
        <fieldset id="app_info">
          <legend>Applicant Info</legend>
          
          <div class="row">
            <div class="five columns">
              <label for="app_first_name" class="require">First Name</label>
              <input type="text" name="app_first_name" id="app_first_name" value="{app_first_name}" class="required">
            </div>
            
            <div class="two columns">
              <label for="app_middle_initial">Middle Initial</label>
              <input type="text" name="app_middle_initial" id="app_middle_initial" value="{app_middle_initial}">
            </div>
            
            <div class="five columns">
              <label for="app_last_name" class="require">Last Name</label>
              <input type="text" name="app_last_name" id="app_last_name" value="{app_last_name}" class="required">
            </div>
          </div>
          
              
          <label for="app_phone" class="require">Best Contact Phone Number</label>
          <input type="text" name="app_phone" id="app_phone" value="{app_phone}" class="required">
          {!--<label for="app_phone_alt">Alternative Phone Number</label>
          <input type="text" name="app_phone_alt" id="app_phone_alt" value="{app_phone_alt}">--}
        
          
          <label for="app_birthdate" class="require">Birthdate</label>
          {field:app_birthdate}
          {!--<div class="date_input">
            <input type="text" name="app_birthmonth" id="app_birthmonth" value="" placeholder="MM" size="2" class="required">&ndash;
            <input type="text" name="app_birthday" id="app_birthday" value="" placeholder="DD" size="2" class="required">&ndash;
            <input type="text" name="app_birthyear" id="app_birthyear" value="" placeholder="YYYY" size="4" class="required">
          </div>--}
        
        </fieldset>
        
        <fieldset id="app_address"> 
          <legend>Mailing Address</legend>
          <label for="app_address" class="require">Address</label>
          <input type="text" name="app_address" id="app_address" value="{app_address}" class="required">
          
          <label for="app_city" class="require">City</label>
          <input type="text" name="app_city" id="app_city" value="{app_city}" class="eight required">
          
          <label for="app_state" class="require">State</label>
          <input type="text" name="app_state" id="app_state" value="{app_state}" class="eight required">
          
          <label for="app_zip" class="require">Zip Code</label>
          <input type="text" name="app_zip" id="app_zip" value="{app_zip}" class="four required">
          
          <label for="app_country">Country (If not US)</label>
          <input type="text" name="app_country" id="app_country" value="{app_country}" class="eight">
        </fieldset>
        
        <fieldset id="app_other">
          <legend>Other Info</legend>
          
          <label for="app_school">School</label>
          <input type="text" name="app_school" id="app_school" value="{app_school}">
          
          <label for="app_hear_about">How did you hear about TeenTix?</label>
          <select name="app_hear_about" class="six">
            {options:app_hear_about}
              <option value="{option_value}"{selected}>{option_name}</option>
            {/options:app_hear_about}
          </select>
          
          <label for="app_referred">Who referred you to TeenTix?</label>
          <input type="text" name="app_referred" id="app_referred" value="{app_referred}">
          
          {if captcha}
                  <label for="captcha">Please enter the word you see in the image below:</label>
                  {captcha}
                  <input type="text" name="captcha" value="{captcha_word}" maxlength="20">
          {/if}
          
        </fieldset>
        
        {!--<fieldset>
          <legend>TeenTix Newsletter</legend>
          
          <label for ="app_newsletter">
            <input type="checkbox" name="app_newsletter" id="app_newsletter" value="y" checked="checked">
            I want to receive the weekly TeenTix newsletter with updates on recommended TeenTix eligible events.
          </label>
          <label for="app_email" class="require">Email Address</label>
          <input type="text" name="app_email" id="app_email" value="{app_email}" class="required">
        </fieldset>--}
        
        <div class="form_submit">
          <input type="submit" name="submit" value="Next" class="button">
        </div>
        
    {/exp:safecracker}
    </div>
    
    
    
  </div>
  
  
{embed="inc/.footer"}