{embed="inc/.header"
  body_class="application"
  title="{signup_title}"
}
{embed="inc/.nav"} 
  
  <div class="row">
    <div class="twelve columns">
      <h1 id="page-name">Sign Up for TeenTix</h1>
    </div>
  </div>
  
  <div class="row">
    <div class="four columns">
    	<h4>Get a Pass</h4>
      
    </div>
    
    <div class="four columns">
  		<h4>Get an Account</h4>
    
    </div>
    <div class="four columns">
    	<h4>Get the newsletter</h4>
    </div>
  </div>

  
{embed="inc/.footer"}