{if segment_3 == ""}
	{redirect="newsletter"}
{/if}
{embed="inc/.header"
  body_class="application"
}
{embed="inc/.nav"
	end_title="Sign up for our Newsletter"
} 
  
  <div id="main-content" class="row">
    <div class="twelve columns">
      <h1>TeenTix Application</h1>
    </div>
  
    <div class="four columns">
      <h4>2. Sign up for the weekly newsletter.</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="eight columns">
    {exp:safecracker 
      channel="applications" 
      return="application/account/ENTRY_ID" 
      entry_id="{segment_3}"
      error_handling="inline"
      id="newsletter_form"
      include_jquery="no"
      logged_out_member_id="2"
      safecracker_head="no"  
    }
      
      <fieldset>
        <legend>TeenTix Newsletter</legend>
        
        <label for="app_newsletter" class="label_checkbox">
          <input type="checkbox" name="app_newsletter" id="app_newsletter" value="yes" checked="checked">
          I want to receive the weekly TeenTix newsletter with updates on recommended TeenTix eligible events.
        </label>
        
        <label for="app_email" class="require">Email Address</label>
        <input type="text" name="app_email" id="app_email" value="{app_email}" class="required">
        
        <div class="app_interests_list clearfix">
          <p>Interests</p>
          {categories show_group="1"}
					<label><input type="checkbox" name="category[]" value="{category_id}" /> {category_name}</label> 
					{/categories}
        </div>
        
        <div class="app_member_type_list">
          <p>Which applies to you?</p>
          {field:app_member_type}
        </div>
                
      </fieldset>
      
      <div class="form_submit">
        <a href="{path='application/account'}/{segment_3}">Skip</a>
        <input type="submit" name="submit" value="Next" class="button">
      </div>
        
    {/exp:safecracker}
    
    </div>
    
  </div><!-- end #main-content -->
  
{embed="inc/.footer"}