{if segment_3 == ""}
	{redirect="account/new"}
{/if}

{if segment_3 != ""}
	{embed="inc/.header"
		title="Create a TeenTix Account | Application"
	  body_class="application"
	}
	{embed="inc/.nav"
		end_title="Temporary Pass"
	} 

{exp:channel:entries 
  entry_id="{segment_3}" 
  track_views="one" 
}		  
	  <div class="row">
	    <div class="twelve columns">
	      <h1 id="page-name">Welcome to TeenTix {app_first_name}!</h1>
	    </div>
	  </div>
  
		<div class="row">
	    <div id="main" class="eight columns">
	      <h4 class="sans">{application_confirm_pass_header}</h4>
	      {application_confirm_pass_content}
				<h4><a href="{site_url}pass/new/{entry_id}/{entry_date}" class="button large" target="_blank">Temporary Pass</a></h4>
				<br /><br />
				<h4 class="sans">{application_confirm_account_header}</h4>
				{application_confirm_account_content}
				<p><a href="{site_url}account/new" class="button medium">Create an Account &raquo;</a></>

	    </div>
	    
	    <div id="sidebar" class="four columns">
	    &nbsp;
	    </div>
	        
	  </div>
	  
		{if app_newsletter == 'yes'}
		  {exp:mailchimp_ee:subscribe 
		  	api_key="2919b6f49b6db2cf940a1ce3bb6520e4-us1" 
		  	list_id="0d9d72b4f4" 
		  	email_address="{app_email}" 
		  	merge_fname="{app_first_name}" 
		  	merge_lname="{app_last_name}" 
		  	merge_BDATE='{app_birthdate format="%Y-%m-%d"}' 
		  	merge_MTYPE='{app_member_type}' 
		  	interest_groups='{categories show_group="1" backspace="1"}{category_name}|{/categories}' 
		  	double_optin='no'
		  }
		{/if}
		
		{if view_count_one < 1}
			{embed="application/.email" entry_id="{segment_3}"}
		{/if}
	{/exp:channel:entries}  
	 
	{embed="inc/.footer"}
{/if}